
.person-card-list {
  .person-card {
    .person-card__inner {
      overflow: visible;
      padding: 0;
      background-color: white;
      border-top: none;
      color: #777382;

      a {
        color: #777382;
      }
    }

    .field {
      margin: 0;
      width: 100%;
  
      @media screen and (min-width: $mobile-landscape-narrow) {
        margin: 0;
        width: 100%;
      }
  
      &.field--name-field-person-image {
        float: none;
        margin: 0 auto 25px;
        width: 250px;
        height: 250px;
      }
      &.field--name-person-full-name {
        color: black;
        font-weight: bold;
      }
      &.field--name-field-mobile-phone-work a {
        color: #777382;
      }
      &.field--name-field-email-single {
        margin-bottom: 20px;
        a {
          color: $green;
        }
      }
      &.field--name-field-visiting-address {
        display: none;
      }
      &.field--name-field-person-skills, &.field--name-field-branch {
        display: inline-block;

        .field__item {
          white-space: nowrap;
          font-family: $bergen-mono;
          text-transform: uppercase;
          padding: 0 12px;
          display: inline-block;
          border: 1px solid #707070;
          border-radius: 15px;
          opacity: 1;
          margin: 2px 1px;
          line-height: 1.5rem;
          
          @media screen and (min-width: $tablet-portrait-narrow) {
            line-height: 1.488rem;
            padding: 0 10px;
            font-size: $font-size-small;
          }
        }
      }
    }
  }
}


.page-phone-book .person-card {
  &.field--name-field-person-image {
    display: none;
  }
}