.field--name-field-presentation-link > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) {
    text-align: center;
    font: Regular 20px BergenText;
    letter-spacing: 0;
    color: 
    #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    background-color:
    #26A982;
    padding: 10px 18px; 
}
.field--name-field-presentation-link > div:nth-child(1) > div:nth-child(1) {
    margin: 3rem;
}
div.field__item:nth-child(2) {
    margin: 3rem;
    color:white;
    }
div.field__item:nth-child(2) > a:nth-child(1) {
    text-align: center;
    font: Regular 15px/20px BergenText;
    letter-spacing: 0;
    color:#1E1E1E;
    text-transform: uppercase;
    opacity: 1;
    background-color:orange;
    padding: 10px 18px;
}
div.field--name-body:nth-child(2) > div:nth-child(1) > div:nth-child(1){
    margin: 3rem;
}
.field--name-field-visible-title > div:nth-child(1) > div:nth-child(1){
    text-align: left;
    font: Bold 60px BergenText;
    letter-spacing: 0;
    color:#F8F8F9;
    opacity: 1;
    background:#00AF66;
    text-align: left;
}
.field--name-field-visible-title > div:nth-child(1) {
    margin: 3rem;
}
.node--sticky {
    background: #00AF66;
}
div.field--name-body:nth-child(2) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font: 500 34px BergenText;
    color:#F8F8F9;

}