.node--liftup--presentation {
    .liftup-box__group-left{
        display: flex;
        flex-direction: column;
    } 
}
.presentation-colors-1  {
    border-top: 10px solid #1E8566;
    background: $white;
    .liftup-box__group-left{
        .field--name-field-visible-title{
            margin:3rem;
            .field__items{
                .field__item{
                    color: $black;
                    text-align: left;
                    font: Bold 52px BergenText;
                    letter-spacing: 0;
                    opacity: 1;
                    text-align: left;
                    @media screen and (max-width: 1024px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .field--type-text-with-summary {
            .field__items{
                .field__item {
                    margin:3rem;
                    p{
                        color:$black;
                        font: 500 24px BergenText;
                        @media screen and (max-width: 1024px) {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
        .field--name-field-presentation-link {
            .field__items{
                margin:3rem;
                .field__item {
                    margin:3rem;
                    a{
                        text-align: center;
                        font: 20px BergenText;
                        font-weight: 600;
                        letter-spacing: 0;
                        color: #1E8566;
                        text-transform: uppercase;
                        opacity: 1;
                        padding: 10px 18px; 
                        border:1px solid #1E8566;
                        &:hover {
                            color:$white;
                            background: #1E8566;
                        }
                    }
                }
            }
        }
    }
}

.presentation-colors-2  {
    border-top: 10px solid #B35C00;
    background: $white;
    .liftup-box__group-left{
        .field--name-field-visible-title{
            margin:3rem;
            .field__items{
                .field__item{
                    color: $black;
                    text-align: left;
                    font: Bold 52px BergenText;
                    letter-spacing: 0;
                    opacity: 1;
                    text-align: left;
                    @media screen and (max-width: 1024px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .field--type-text-with-summary {
            .field__items{
                .field__item {
                    margin:3rem;
                    p{
                        color:$black;
                        font: 500 24px BergenText;
                        @media screen and (max-width: 1024px) {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
        .field--name-field-presentation-link {
            .field__items{
                margin:3rem;
                .field__item {
                    margin:3rem;
                    a{
                        text-align: center;
                        font: 20px BergenText;
                        font-weight: 600;
                        letter-spacing: 0;
                        color: #B35C00;
                        text-transform: uppercase;
                        opacity: 1;
                        padding: 10px 18px; 
                        border:1px solid #B35C00;
                        &:hover {
                            color:$white;
                            background: #B35C00;
                        }
                    }
                }
            }
        }
    }
}

.presentation-colors-3  {
    border-top: 10px solid #000;
    background: $white;
    .liftup-box__group-left{
        .field--name-field-visible-title{
            margin:3rem;
            .field__items{
                .field__item{
                    color: $black;
                    text-align: left;
                    font: Bold 52px BergenText;
                    letter-spacing: 0;
                    opacity: 1;
                    text-align: left;
                    @media screen and (max-width: 1024px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .field--type-text-with-summary {
            .field__items{
                .field__item {
                    margin:3rem;
                    p{
                        color:$black;
                        font: 500 24px BergenText;
                        @media screen and (max-width: 1024px) {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
        .field--name-field-presentation-link {
            .field__items{
                margin:3rem;
                .field__item {
                    margin:3rem;
                    a{
                        text-align: center;
                        font: Regular 20px BergenText;
                        letter-spacing: 0;
                        color: $black;
                        text-transform: uppercase;
                        opacity: 1;
                        padding: 10px 18px; 
                        border:1px solid $black;
                        &:hover {
                            color:$white;
                            background: $black;
                        }
                    }
                }
            }
        }
    }
}
