.site-branding__name {
  align-items: center;
  display: flex;
  height: 3.125rem;
  margin: 0;
}

// Hide the logo image since we use backgrounds but leave it for the screen readers to find.
.site-branding--header__visual {
  opacity: 0;
  visibility: hidden;
}

.site-branding__link {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.site-branding--header__link {
  background: url('../../businesspori-logo.svg') no-repeat 0 0 transparent;
  height: 3.125rem;
  width: 6rem;
  margin-top: 1.8rem;
  margin-left: 0.5rem;
  background-size: contain;
  
  @media screen and (min-width: $mobile-landscape-narrow) {
    width: 9rem;
    margin-top: 0.8rem;
  }
  @media screen and (min-width: $desktop) {
    background-image: url('../../businesspori-logo.svg');
    height: 3rem;
    width: 13rem;
    margin-top: 0;
  }
}

.site-branding--footer {
  margin-bottom: 1.875rem;

  @media screen and (min-width: $mobile-footer-breakpoint) {
    left: 1.25rem;
    margin: 0;
    position: absolute;
    top: 0;
  }

  .site-branding__name {
    height: auto;
    line-height: 0;
    padding: 0 1.25rem;

    @media screen and (min-width: $mobile-footer-breakpoint) {
      padding: 0;
    }
  }
}

.l-region--logo {
  max-width: 70%;
}

.site-branding--footer__link {
  background: url('../../businesspori-logo.svg') no-repeat 0 bottom transparent;
  background-size: contain;
  width: 15rem;
  height: 3rem;

  @media screen and (min-width: $desktop) {
    width: 12rem;
    height: 6rem;
  }
}