.accessibility-font-increase {
  align-items: center;
  border-left: 1px solid $gray-light;
  display: flex;
  // Hide the text "Text size"
  font-size: 0;
  height: 3.125rem;
  line-height: 0;
  position: absolute;
  // Language switcher and mobile navigation toggle
  right: 4.375rem + 3.75rem;
  top: 0;

  @media screen and (min-width: $mobile-menu-breakpoint) {
    border-left: 0 none;
    // Language switcher + container gutter
    right: 4.375rem + $container-gutter;
    //(branding area height / 2) - (element height / 2)
    top: (6.25rem / 2) - (3.125rem / 2);
  }

  .accessibility-font-increase__toggle {
    align-items: stretch;
    display: flex;
    height: 3.125rem;
    justify-content: center;
    width: 3.75rem;

    &:hover {
      background-color: $primary-color;
      color: $white;
      cursor: pointer;
    }
  }

  .accessibility-font-increase__toggle--active {
    background-color: $primary-color;
    color: $white;
  }

  .accessibility-font-increase__toggle--small {
    font-size: 1.2rem;
    line-height: 3.7rem;
    margin-right: 2px;
    position: relative;
    text-decoration: underline;
  }

  .accessibility-font-increase__toggle--large {
    font-size: 2rem;
    line-height: 3.125rem;
  }

  .accessibility-font-increase__options--is-visible {
    display: block;
  }

  .accessibility-font-increase__options--is-hidden {
    display: none;
  }

  .accessibility-font-increase__options {
    background: $default-color-lightest;
    box-shadow: 0 9px 8px 0 rgba($primary-color, .75);
    left: 0;
    top: 3.125rem;
    position: absolute;
    width: 100%;
    z-index: 5;

    .font-increase__item {
      color: $primary-color;
      display: block;
      font-family: $bergen-mono;
      font-size: .8rem;
      line-height: $base-line-height;
      padding: .75rem 0;
      text-align: center;
      text-transform: uppercase;

      &:hover,
      &:focus,
      &.font-increase__item--is-active {
        background: $primary-color;
        color: $white;
      }
    }
  }
}