/**
  * Add color palette using this mixin.
  * The first three values are required and overriding the rest of the values is optional.
  */

@mixin color-palette($color-scheme, $detail-color, $navigation-highlight, $footer-color, $liftup-box-wide-btn: null, $liftup-box-wide-btn-color: null, $liftup-box-wide-default-btn: null, $liftup-box-wide-default-btn-color: null, $highlighted-color: null, $widget-background: null, $widget-background-dark: null) {
  background-color: $color-scheme;

  .l-header {
    background-color: $color-scheme;

    .flexslider {
      .flex-direction-nav li a {
        background-color: $color-scheme;

        @include breakpoint($small-desk) {
          background-color: $footer-color;
        }
      }

      .flex-caption {
        background-color: rgba($color-scheme, 1);
        border-color: $detail-color;

        @include breakpoint($small-desk) {
          background-color: rgba($color-scheme, 0.7);
        }
      }
    }
  }

  // Color for quicksearch icon
  .l-header .form-type-textfield {
    &:before {
      color: $color-scheme;
    }
  }

  .l-before-header {
    background-color: rgba($color-scheme, 0.7);
  }

  .l-branding {
    @include breakpoint($mobi-navi) {
      background-color: rgba($color-scheme, 0.7);
    }
  }

  &.theme-front .l-navigation,
  &.has-main-image .l-navigation {
    background-color: rgba($color-scheme, 0.7);

    @include breakpoint($mobi-navi) {
      background-color: $navigation-bg;
    }
  }

  .recommended-block .recommended-block__content {
    background-color: rgba($color-scheme, 1);

    @include breakpoint($mobi-navi) {
      background-color: rgba($color-scheme, 0.7);
    }
  }

  .recommended-button .recommended-button__inner {
    background-color: darken($color-scheme, 10);
    color: $detail-color;
  }

  @if ($highlighted-color) {
    .l-page > .l-highlighted {
      background-color: $highlighted-color !important;
    }

    .main-liftup-box-2 + .main-liftup-box-2:before {
      background-color: lighten($highlighted-color, 10) !important;
    }
  }

  .l-region.l-region--header {
    background-color: $color-scheme;
  }

  &.og-context .l-navigation {
    .responsive-menus.responsified {
      .menu__item--first-level {
        border-color: $color-scheme;

        &.is-collapsed,
        &.is-expanded {
          > .menu__item--expanded-toggle {
            background-color: $footer-color;

            &:before {
              color: $detail-color;
            }
          }
        }
      }

      .menu__item--second-level {
        &.is-collapsed,
        &.is-expanded {
          > .menu__item--expanded-toggle {
            background-color: darken($color-scheme, 20%);

            &:before {
              color: $detail-color;
            }
          }
        }
      }

      span.toggler {
        background-color: $footer-color;
        color: $detail-color;
      }
    }

    .menu__item--first-level {
      &.is-active-trail > a,
      &.is-active > a,
      &:hover > a {
        background-color: $navigation-highlight;
        color: $detail-color;
      }

      .menu {
        border-color: $navigation-highlight;
      }
    }

    .quick-search-toggler {
      background-color: $footer-color;
      color: $detail-color;
    }
  }

  .l-footer {
    background-color: $footer-color;

    .l-region--footer {
      background-color: $footer-color;
    }

    .field .field__label {
      color: $detail-color;
    }
  }

  .block__title {
    border-color: $color-scheme !important;
  }

  .liftup-box.node,
  .main-liftup-box {
    border-color: $color-scheme !important;
  }

  .liftup-box__title,
  .main-liftup-box__title {
    color: $color-scheme;

    > a {
      color: $color-scheme;
    }
  }

  .caption,
  .main-liftup-box__caption {
    background-color: rgba($color-scheme, 0.9) !important;
  }

  .liftup-box__quote:before {
    color: $color-scheme;
  }

  .liftup-box--wide {
    background-color: $color-scheme;

    .liftup-box__group-right:after {
      @include arrow-down($color-scheme);
      @include breakpoint($small-desk) {
        @include arrow-left($color-scheme);
      }
    }

    .liftup-box__caption,
    .main-liftup-box__caption {
      background-color: rgba($color-scheme, 0.8);
    }

    &:nth-child(2) .liftup-box__caption {
      background-color: rgba(#fff, 0.8) !important;
    }

    // If the background color of the wide liftup box requires the default dark gray button to be overridden to maintain
    // readability set the following variable(s) when calling the mixin.
    @if ($liftup-box-wide-default-btn) {
      .liftup-box__link {
        a {
          background-color: $liftup-box-wide-default-btn;
          border-right-color: darken($liftup-box-wide-btn, 15);
          color: $liftup-box-wide-default-btn-color;
        }
      }
    }
    @if ($liftup-box-wide-btn) {
      &:nth-child(1) {
        .liftup-box__link {
          a {
            background-color: $liftup-box-wide-btn;
            border-right-color: darken($liftup-box-wide-btn, 15);
            color: $liftup-box-wide-btn-color;
          }
        }
      }
    }
  }

  .quicktabs-wrapper {
    .quicktabs-tabs {
      > li {
        &.active > a,
        > a:hover {
          background-color: $color-scheme;
          color: $detail-color;
        }
      }
    }
  }

  .feed-icon {
    &:before,
    &:after {
      background-color: $color-scheme;
    }
  }

  blockquote {
    border-color: $color-scheme;

    &:before {
      color: $color-scheme;
    }
  }

  @if ($widget-background) {
    .block--tkufi-widget-feature {
      background-color: $widget-background;
    }

    .ui-datepicker {
      .ui-datepicker-calendar tbody tr td a {
        background-color: $widget-background-dark;
      }

      .ui-datepicker-header {
        .ui-datepicker-prev,
        .ui-datepicker-next {
          &:hover {
            background: $widget-background-dark;
          }
        }
      }
    }

    .mosaic .mosaic__footer .mosaic__more-link {
      background-color: $widget-background-dark;

      &:before {
        background-color: darken($widget-background-dark, 10%);
      }
    }
  }

  .mosaic {
    .event__buy-link {
      > a {
        background-color: $color-scheme !important;
      }
    }

    .grid-item .event__date {
      background-color: rgba($color-scheme, 0.9);
    }
  }

  .event__image--wrapper .event__image__content--bottom .event__date {
    background-color: $color-scheme;
  }

  .event.view-mode-full .event__ticket a {
    background-color: $color-scheme;
  }
}



// Red
.color-palette--red {
  @include color-palette(#ff0000, #fff, #ff0000, #000);
}

// Black
.color-palette--black {
  @include color-palette(#000, #fff, #000, #000, #fff, #000);
}

// Green
.color-palette--green {
  @include color-palette(#a2c037, #fff, #a2c037, #000);
}

// Sky blue
.color-palette--skyblue {
  @include color-palette(#5fbec0, #fff, #5fbec0, #000);
}

// Orange
.color-palette--orange {
  @include color-palette(#e55705, #fff, #e55705, #ea9500);
}

// Blue and yellow
.color-palette--blue_yellow {
  @include color-palette(#1FC4F4, #fff, #fbaf33, #fbaf33);
}

// Green and blue
.color-palette--green_blue {
  @include color-palette(#85c441, #fff, #85c441, #006bb6);
}

// Christmas red
.color-palette--christmas_red {
  @include color-palette(#ed1a3b, #fff, #ed1a3b, #ed1a3b);
}

// White petrol
$theatre-darkblue: #214B63;
$theatre-lightblue: #0196A7;
$theatre-orange: #F7C421;
$theatre-red: #E63C53;
$color-palette--white_petrol: (
  'color-scheme':                       $theatre-lightblue,
  'detail-color':                       #fff,
  'navigation-highlight':               $theatre-lightblue,
  'footer-color':                       #000,
  'liftup-box-wide-btn':                $theatre-orange,
  'liftup-box-wide-btn-color':          #000,
  'liftup-box-wide-default-btn':        $theatre-orange,
  'liftup-box-wide-default-btn-color':  #000,
  'highlighted-color':                  $theatre-darkblue,
);

.color-palette--white_petrol {
  @include color-palette($color-palette--white_petrol...);

  .node--full p a {
    color: $theatre-red;

    &:link,
    &:focus,
    &:active,
    &:visited {
      color: $theatre-red;
    }
  }

  .l-before-header {
    background-color: rgba(#000, 0.7);
  }

  .l-main-wrapper {
    background: $theatre-darkblue !important;
  }

  .l-before-content {
    background: $theatre-darkblue !important;
  }

  .liftup-box__title,
  .main-liftup-box__title {
    color: #000;

    > a {
      color: #000;
      text-transform: uppercase;
    }
  }

  .l-header {
    background-color: #000;

    .flexslider {
      .flex-direction-nav li a {
        background-color: $theatre-lightblue;
        color: #fff;
      }

      .flex-caption-wrapper,
      .flex-control-nav-container {
        @include breakpoint($large-desk) {
          bottom: 5%;
        }
      }

      .flex-caption {
        background-color: rgba(#000, 0.7);
        border-color: $theatre-lightblue;
      }
    }
  }

  // Quicktabs
  .quicktabs-wrapper .quicktabs-tabs > li > a {
    color: $turku-white;
  }
}

// SparkUp brand
$color-palette--sparkup: (
  'color-scheme':                       $sparkup-green,
  'detail-color':                       #fff,
  'navigation-highlight':               $sparkup-green,
  'footer-color':                       $sparkup-green-dark,
  'liftup-box-wide-btn':                $sparkup-green-dark,
  'liftup-box-wide-btn-color':          #fff,
  'liftup-box-wide-default-btn':        $sparkup-green,
  'liftup-box-wide-default-btn-color':  #fff,
  'highlighted-color':                  $sparkup-green-dark,
  'widget-background':                  $sparkup-green,
  'widget-background-dark':             $sparkup-green-dark,
);

.color-palette--sparkup_green {
  @include color-palette($color-palette--sparkup...);
}

// Skanssi
$color-palette--skanssi: (
  'color-scheme':                       $turku-lime,
  'detail-color':                       #fff,
  'navigation-highlight':               $turku-lime,
  'footer-color':                       $turku-mint,
  'liftup-box-wide-btn':                #f26522,
  'liftup-box-wide-btn-color':          #fff,
  'liftup-box-wide-default-btn':        #f26522,
  'liftup-box-wide-default-btn-color':  #fff,
  'highlighted-color':                  $turku-lime,
  'widget-background':                  $turku-lime,
  'widget-background-dark':             $turku-lime,
);

.color-palette--skanssi_theme {
  @include color-palette($color-palette--skanssi...);

  // Color scheme overrides
  .recommended-button .recommended-button__inner {
    background-color: $turku-mint;
  }

  .l-header .flexslider .flex-caption {
    border-color: $turku-mint;
  }

  .liftup-box.node, .main-liftup-box {
    border-color: $turku-mint !important;
  }

  .main-liftup-box__title a,
  .liftup-box__title a {
    color: $liftup-color;
  }

  .liftup-box__caption,
  .main-liftup-box__caption {
    background: rgba($turku-mint, 0.9) !important;
    color: $liftup-color;
    font-weight: 400;
  }

  .liftup-box--wide {
    background-color: $turku-mint;
    color: $liftup-color;

    .liftup-box__title {
      color: $liftup-color;
    }

    .liftup-box__group-right:after {
      border-color: transparent $turku-mint transparent transparent;
    }

    .liftup-box__caption,
    &:nth-child(2) .liftup-box__caption {
      background-color: rgba($turku-mint, 0.8) !important;
      color: $liftup-color;
    }
  }

  .l-page > .l-highlighted {
    background-image: url(../images/skanssi_background.jpg);
    background-size: cover;
  }

  .l-footer {
    background-color: $turku-lime;
  }
}

// Kauppatori
$color-palette--market-square: (
  'color-scheme':                       $turku-pink,
  'detail-color':                       #fff,
  'navigation-highlight':               $turku-pink,
  'footer-color':                       $turku-pink,
  'liftup-box-wide-btn':                $turku-pink,
  'liftup-box-wide-btn-color':          #fff,
  'liftup-box-wide-default-btn':        $turku-pink,
  'liftup-box-wide-default-btn-color':  #fff,
  'highlighted-color':                  $turku-pink,
  'widget-background':                  $turku-pink,
  'widget-background-dark':             $turku-pink,
);

.color-palette--market_square_theme {
  @include color-palette($color-palette--market-square...);

  .recommended-button .recommended-button__inner {
    background-color: $turku-pink;
  }

  .l-header .flexslider {
    .flex-caption {
      background-color: rgba($turku-beige, 0.7);
      border-color: $turku-pink;

      &,
      a {
        color: $liftup-color;
      }
    }
  }
  
  .recommended-block {
    .recommended-block__content {
      background-color: rgba($turku-beige, 0.7);
      border-color: $turku-pink;

      .recommended-block__title,
      .recommended-block__item a,
      .recommended-block__item a:before {
        color: $liftup-color;
      }
    }
  }

  .main-liftup-box {
    border-color: $turku-beige !important;
  }

  .main-liftup-box__title a,
  .liftup-box__title a {
    color: $liftup-color;
  }

  .liftup-box__caption,
  .main-liftup-box__caption {
    background: rgba($turku-beige, 0.9) !important;
    color: $liftup-color;
    font-weight: 400;
  }

  .liftup-box--wide {
    background-color: $turku-beige;

    &,
    .liftup-box__title {
      color: $liftup-color;
    }

    .liftup-box__group-right:after {
      border-color: transparent $turku-beige transparent transparent;
    }

    .liftup-box__caption,
    &:nth-child(2) .liftup-box__caption {
      background-color: rgba($turku-beige, 0.8) !important;
      color: $liftup-color;
    }
  }

  .l-page > .l-highlighted {
    background-image: url(../images/kauppatori_background.jpg);
    background-size: cover;
  }
}
