.online-shop-link a {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  font-family: $bergen-mono;
  display: block;
  padding: .625rem 3rem .625rem 1.563rem;
  position: relative;
  text-transform: uppercase;

  &::after {
    @include fa('\f105', 1.1rem, 1, false);
    position: absolute;
    right: 1.563rem;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: $mobile-menu-breakpoint) {
      font-size: 1.75rem;
    }
  }

  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}
