@media screen and (min-width: $mobile-menu-breakpoint) {
  .l-navigation-top {
    .menu {
      display: flex;
      font-family: $navigation-top-family;
      justify-content: space-between;
      margin: 0 auto;
      max-width: $inner-container-width;
      padding: 0 $container-gutter;
    }

    .menu__item {
      margin-top: 0;

      a {
        color: $gray;
        display: block;
        font-size: 1rem;
        padding: .75rem 0;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }

      &.is-active-trail {
        a {
          color: $link-color;
        }
      }
    }
  }
}