$menu-padding: 1.25rem;

.toggler {
  background: none;
  border-left: 1px solid $gray-light;
  color: $primary-color;
  display: block;
  height: 3.125rem;
  text-align: center;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  // Hide toggler after desktop narrow
  @media screen and (min-width: $mobile-menu-breakpoint) {
    border: 0;
    display: none;
  }
}

@media screen and (max-width: $mobile-menu-breakpoint-max) {
  .menu-name-main-menu,
  .menu-name-og-menu-single,
  [class*="menu-name-menu-main-menu"] {
    .toggler {
      color: transparent;
      font-size: 0;
      position: absolute;
      right: 0;
      top: -3.125rem;

      &::before {
        @include fa('\f0c9', 1.5rem, 3.125rem, false);
        color: $black;
        font-style: normal;
      }

      &:hover,
      &:focus {
        background-color: $primary-color;
        border-color: $primary-color;

        &::before {
          color: $white;
        }
      }
    }

    // Once toggled the menu icon should change color
    .responsive-toggled .toggler {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $primary-color;

      &::before {
        color: $white;
      }
    }

    .is-collapsed,
    .is-expanded {
      > .menu__item--expanded-toggle {
        background-color: $white;
        border-radius: 100%;
        content: "";
        display: block;
        height: 1.563rem;
        position: absolute;
        right: 1.25rem;
        top: 1.063rem;
        width: 1.563rem;
        z-index: 1;

        @media screen and (min-width: $tablet-portrait-narrow) {
          top: 1.25rem;
        }

        &::before {
          @include fa('\f067', .9rem, 1, false);
          color: $black;
          display: block;
          height: 1.563rem;
          line-height: 1.6rem;
          right: 1.25rem;
          text-align: center;
          top: 1.063rem;
          width: 1.563rem;
          z-index: 2;
        }

        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    }

    .is-expanded > .menu__item--expanded-toggle::before{
      @include fa('\f068', .9rem, 1, false);
      color: $black;
      line-height: 1.6rem;
    }

    // Set theme colored menu.
    @each $theme-color, $color in $theme-colors {
      .theme-color-#{$theme-color} {
        &.menu__item--has-first-level {
          background-color: $color !important;

          @if $color == $white {
            border-bottom: 1px solid $gray;
          }

          &:focus,
          &:hover {
            background-color: $color !important;

            @if $color == $white {
              background-color: $primary-color !important;
            }
          }

          > a {
            @if $color == $yellow {
              color: $primary-color;
            }

            @if $color == $white {
              color: $primary-color;
            }


            &:hover,
            &:focus {
              @if $color == $yellow {
                color: $primary-color;
              }

              @if $color == $white {
                color: $white;
              }
            }
          }

          &.is-collapsed,
          &.is-expanded {
            > .menu__item--expanded-toggle::before {
              color: $color;
            }
          }

          > .menu {
            border-bottom: 4px solid $color !important;
            border-top: 4px solid $color !important;
          }

          &.is-active-trail {
            background-color: $color !important;

            @if $color == $white {
              background-color: $primary-color !important;
            }

            > a {
              @if $color == $yellow {
                color: $primary-color;
              }

              @if $color == $white {
                color: $white;
              }
            }
          }

          .menu__item--has-second-level,
          .menu__item--has-third-level {
            &:hover,
            &:focus {
              background-color: $color !important;

              &.is-collapsed,
              &.is-expanded {
                > .menu__item--expanded-toggle::before {
                  color: $color;
                }
              }

              > a {
                color: $white;

                @if $color == $yellow {
                  color: $primary-color;
                }

                @if $color == $white {
                  color: $primary-color;
                }
              }
            }

            &.is-active-trail {
              background-color: $color !important;
            }

            > a {
              &:hover,
              &:focus {
                color: $white;

                @if $color == $yellow {
                  color: $primary-color;
                }

                @if $color == $white {
                  color: $primary-color;
                }
              }

              &.active-trail {
                color: $white;

                @if $color == $yellow {
                  color: $primary-color;
                }

                @if $color == $white {
                  color: $primary-color;
                }
              }
            }
          }

          .e-service-wrapper {
            background-color: lighten($color, 40%);

            > a {
              background-color: $color;
            }
          }
        }
      }
    }

    .menu__item {
      background-color: $primary-color;
      margin-top: 0;
      padding: 0;
      position: relative;

      a {
        color: $white;
        display: block;
        margin-right: 2.813rem; // The amount of space that the menu__item--expanded-toggle requires.
        text-transform: uppercase;
        padding: $menu-padding ($menu-padding / 2);
      }
    }

    .menu__item--has-first-level {
      &.is-expanded,
      &:last-child {
        border-bottom: 0 none;
      }

      &.is-active-trail {
        background-color: $secondary-color;
      }
    }

    .menu__item--has-second-level {
      background-color: $white;
      border-bottom: 1px solid $gray;

      &:last-child {
        border-bottom: 0 none;
      }

      > a {
        color: $primary-color;
        padding-left: $menu-padding;
      }

      &.is-collapsed,
      &.is-expanded {
        .menu__item--expanded-toggle {
          background-color: $primary-color;

          &::before {
            color: $white;
          }
        }

        &:hover,
        &focus {
          .menu__item--expanded-toggle {
            background-color: $white;

            &::before {
              color: $black;
            }
          }
        }
      }

      &.is-active-trail {
        background-color: $secondary-color-dark;
      }
    }

    .menu__item--has-third-level {
      background-color: $gray-lighter;

      > a {
        color: $primary-color;
        font-weight: bold;
        text-transform: none;
        margin-right: 0; // No need for safety space on right since no visible menu__item--expanded-toggle.
        padding-left: $menu-padding * 2;
      }

      .menu__item--expanded-toggle {
        display: none;
      }

      &.is-active-trail {
        background-color: $secondary-color-medium-dark;
      }
    }

    .responsified > .menu {
      width: 100%;
    }

    .e-service-wrapper {
      background-color: $secondary-color-medium-dark;
      margin: 0;

      > a {
        display: none;
      }

      > .menu {
        padding: 0 1.875rem;

        .menu__item {
          background-color: transparent;
          border-bottom: 1px solid $primary-color;
          margin: 0;

          a {
            background: url('../../dist/image/arrow-right-icon.svg') no-repeat right center transparent;
            background-size: .938rem auto;
            border-bottom: 0 none;
            color: $primary-color;
            display: block;
            font-weight: bold;
            margin: 0;
            padding: 1.25rem 1.875rem 1.25rem 0;
            text-transform: none;
          }

          &:last-child {
            border-bottom: 0 none;
          }
        }
      }
    }
  }
}
