# Generic ones
.DS_Store
.vagrant
drupal/web
drupal/builds
drupal/.make_cache
drupal/drupal.sqlite
drupal/web_bak_*
.idea
ansible
local.*
test/composer.lock
test/vendor
test/bin
VERSION
tests/_output/*

# Ignore paths that contain user-generated content.

drupal/files/*
drupal/private_files/*
drupal/_build
sites/*/files
files/*
private_files/*
sites/*/private
/bin/
/current/
/builds/
/tmp
/_build/
/.make_cache/
/public/
/vendor/
public

# Ignore ansible retry files
conf/*.retry

# Ignore python virtualenv created by provision.sh
.virtualenv
