# Generic ones
.DS_Store
.vagrant
drupal/builds
drupal/.make_cache
drupal/drupal.sqlite
drupal/web_bak_*
.idea
ansible
local.*
test/composer.lock
test/vendor
test/bin
VERSION
tests/_output/*

# Ignore paths that contain user-generated content.
/bin/
drupal/tmp
/current/
/builds/
/tmp
/_build/
/.make_cache/
/public/
/vendor/
public
drupal/SYNCDIR
drupal/syncdb/*

# Ignore ansible temp files
conf/*.retry
.nfs*

# Ignore python virtualenv created by provision.sh
.virtualenv

# Ignore dumpfiles
*.sql
*.gz
