---
layout: default
---
  <div class="container-fluid main-container">
    <div class="jumbotron jumbotron--large">
      <div class="container">
        <h1>Haluatko mukaan edelläkävijöiden joukkoon?</h1>
<h2>Ota käyttöösi kuntien avoin verkkopalvelualusta.</h2>
        <p>Avoin verkkopalvelualusta on avoimen lähdekoodin ratkaisu kuntien ja kaupunkien verkkopalveluiden pohjaksi. Ratkaisu pohjautuu Turku.fi-verkkopalvelun lähdekoodiin ja on toteutettu Drupal 7:lla.</p>
<p>Avoimen lähdekoodin verkkopalvelualustaa voi kehittää kuka tahansa, ja uudet ominaisuudet voidaan ottaa käyttöön koko alustaan, jolloin kaikki hyötyvät niistä. Kevään aikana myös palvelutietojen rajapinta kansalliseen palvelutietovarantoon tulee pakettiin mukaan.</p>
        <h2>Olisiko tässä tulevaisuuden ratkaisu kuntaasi?</h2>
        <p>
          <a href="#features" class="btn btn-turku btn-lg">Tutustu tarkemmin ominaisuuksiin</a>
          <a href="#about" class="btn btn-default btn-lg">Lue lisää alustan synnystä?</a>
          <a href="https://kada-slack.herokuapp.com/" class="btn btn-default btn-lg">Liity mukaan avoimeen keskusteluun Slack-työtilassa</a>
        </p>
      </div>
    </div>
    <!--
      {% include features.html %}
    -->
    {% include about.html %}
  </div>
  {% include footer.html %}
