<!DOCTYPE html>
<html>

<head>
  <link href="styles/app.min.css" rel="stylesheet" type="text/css">
  <title>Kuntien avoin digitaalinen alusta</title>
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">
</head>

<body>
  <div class="container-fluid main-container">
    <div class="jumbotron jumbotron--large">
      <div class="container">
        <h1>Haluatko mukaan edelläkävijöiden joukkoon?</h1>
<h2>Ota käyttöösi kuntien avoin verkkopalvelualusta.</h2>
        <p>Avoin verkkopalvelualusta on avoimen lähdekoodin ratkaisu kuntien ja kaupunkien verkkopalveluiden pohjaksi. Ratkaisu pohjautuu Turku.fi-verkkopalvelun lähdekoodiin ja on toteutettu Drupal 7:lla.</p>
<p>Avoimen lähdekoodin verkkopalvelualustaa voi kehittää kuka tahansa, ja uudet ominaisuudet voidaan ottaa käyttöön koko alustaan, jolloin kaikki hyötyvät niistä. Kevään aikana myös palvelutietojen rajapinta kansalliseen palvelutietovarantoon tulee pakettiin mukaan.</p>
        <h2>Olisiko tässä tulevaisuuden ratkaisu kuntaasi?</h2>
        <p>
          <a href="#features" class="btn btn-turku btn-lg">Tutustu tarkemmin ominaisuuksiin</a>
          <a href="#about" class="btn btn-default btn-lg">Lue lisää alustan synnystä?</a>
          <a href="https://kada-slack.herokuapp.com/" class="btn btn-default btn-lg">Liity mukaan avoimeen keskusteluun Slack-työtilassa</a>
        </p>
      </div>
    </div>
    <!--
      {% include features.html %}
    -->
    {% include about.html %}
  </div>
  {% include footer.html %}

  <script src="scripts/vendor/jquery.min.js"></script>
  <script src="scripts/vendor/jquery.matchHeight-min.js"></script>
  <script type="text/javascript">
$(document).ready(function () {
  $('[data-match-height]').matchHeight();
})
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91615189-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
