.l-breadcrumb {
  @include responsive-whitespace;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

// Hide breadcrumb on landing-page. TODO: Find a better way to do this.
.landing-page__visitpori {
  .l-breadcrumb {
    display: none;
  }
}
