.page-header {
  .l-navigation-top {
    display: none;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      background-color: $gray-lighter;
      display: block;
    }
  }

  .l-branding {
    height: 3.125rem;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      height: 6.25rem;
      margin: 0 auto;
      max-width: $content-width;
      position: relative;
    }
  }

  .l-navigation {
    width: 100%;

    @media screen and (min-width: $mobile-menu-breakpoint) {
        background-color: $white;
        /*background-image:     linear-gradient(
          to right, 
          $red-light,
          $red-light 15%,
          $red-light 15%,
          $blue 85%,
          $blue 85%
        );*/
    }
  }

  .l-branding__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0;
  }

  .l-navigation__container {
    width: 100%;
    max-width: 100%;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      position: relative;
    }
  }

  .l-banner {
    position: relative;

    @media screen and (max-width: $desktop-narrow - $max-width-deduction) {
      width: 100%;
    }
  }
}

.page-header__top {
  padding-top: 1.25rem;

  @media screen and (max-width: $desktop-narrow - $max-width-deduction) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    z-index: 10;
  }
}

.l-region--branding {
  .block--locale-language {
    // Mobile
    @media screen and (max-width: $mobile-menu-breakpoint-max) {
      position: absolute;
      right: 3.75rem;
      top: 0;
    }
  }
}

.l-region--navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;

  @media screen and (min-width: $mobile-menu-breakpoint) {
    justify-content: space-between;
  }

  .block--recommended-button {
    @media screen and (max-width: $mobile-menu-breakpoint-max) {
      right: 3.75rem + 4.375rem; // Menu toggler + language switcher
    }
  }

  .block--menu-block {
    width: 100%;

    @media screen and (max-width: $mobile-menu-breakpoint-max) {
      top: 0;
      right: 0;
    }

    .toggler {
      @media screen and (max-width: $mobile-menu-breakpoint-max) {
        width: 3.75rem;
      }
    }
  }
}

.l-region--header {
  position: relative;
}
