.field--name-field-lead-paragraph,
.field--name-field-lead-paragraph-long-text {
  font-weight: bold;
  margin-bottom: 1.5rem;

  @media screen and (min-width: $mobile-menu-breakpoint) {
    margin-bottom: 3.15rem;
  }
}