/**
 * @file
 * Visual styles for blog posts.
 * Implements the same styles what we have in default layout for news etc
 * with narrow layout. Couldn't target this there.
 */

.node-type-blog-post {
  .l-content {
    @include breakpoint($small-desk) {
      @include grid-span(6, 4);
      padding: 0;
    }
    .field--name-field-post-date {
      color: #acacac;
      font-size: 1.286em;
      margin-top: 16px;
    }
    .field--name-field-quote {
      font-weight: 600;
      &:before {
        content: "”";
        position: absolute;
      }
      .field__item {
        padding-left: 10px;
      }
    }
    .field--name-field-blog {
      font-size: 1.5em;
    }
  }
}
.section-blogs {
  .l-branding,
  .l-navigation {
    @include in-front-of-header;
    left: 0;
    position: relative;
    top: 0;

    @include breakpoint($mobi-navi) {
      left: auto;
      position: relative;
      top: auto;
    }
  }
}
