/**
 * Traffic light to display ticket availability on multiple
 * display modes and field based views.
 * Margin color with rounded borders kinda works with div-> div -> a
 *
 */

.event__ticket_wrapper {
  .event.node--event & {
    // With floated wrapper the next field label wants to get on same row,
    // unless we take some space.
    &.without-availability {
      min-height: 4em;
    }

    .event__ticket {
      float: left;
    }
  }

  // The ticket color coding for (3 colors) for most views and full node renders.
  .event.node--event &,
  .mosaic .grid-item &,
  .view .view-content & {
    .traffic-light-green,
    .traffic-light-orange,
    .traffic-light-red {
      float: left;
      clear: both;
      border-top-right-radius: 2px 2px;
      border-bottom-right-radius: 2px 2px;
      margin-right: 2em;
    }
  }

  .traffic-light-green {
    border-right: solid #00A979 1.5em;
  }
  .traffic-light-orange {
    border-right: solid #FFC234 1.5em;
  }
  .traffic-light-red {
    border-right: solid #FF1D41 1.5em;
  }

  // Ticket links in view should be placed similarly regardless of
  // having availability colors or not.
  .view-id-driveturku_recurring_events .view-content & {
    .event__ticket {
      float: left;
      margin-right: 0em;
    }
  }

  // This ambiguous "div" should be one of:
  // .event__ticket | flex-caption__tickets | event__buy-link
  // The wrapper should be added on all display-modes.
  .event.node--event &,
  .view .view-content & {
    div {
      a {
        margin-top: 0px;
        display: block;
        margin-right: -2px;
      }
    }
  }

  // For mosaic events, only change margin if have ticket availability color.
  .mosaic .grid-item & {
    .event__buy-link {
      &.traffic-light-green,
      &.traffic-light-orange,
      &.traffic-light-red {
        a {
          display: block;
          margin-right: -2px;
        }
      }
    }
  }
}

// Styling of a separate field to show ticket info (almost unused).
.event.node--event, 
.view .view-content {
  div.event__ticket_availability {
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 0.9em;
  }
}

// Forcing text to wrap as one below the buy link on mobile.
.event__ticket_availability {
  span {
    white-space: nowrap;
  }
  .traffic-light-text-green,
  .traffic-light-text-orange,
  .traffic-light-text-red {
    font-weight: bold;
    color: #00A979;
  }
  .traffic-light-text-orange {
    color: #FFC234;
  }
  .traffic-light-text-red {
    color: #FF1D41;
  }
  span {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
  }
  p {
    display: block;
    margin-top: -1em;
  }
}