.l-content .node-form.event-node-form {
  background-color: $turkucalendar-lightergray;
  padding: 1%;

  @include breakpoint($tab) {
    padding: 5%;
  }
}

// default checkbox color
.taxonomy-level .form-type-checkbox:before {
  color: $turku-blue;
}

// events and hobbies checkbox colors
.field-name-field-event-types .taxonomy-level-0 {
  &:first-child .form-type-checkbox:before {
    color: $turkucalendar-events;
  }

  &:last-child .form-type-checkbox:before {
    color: $turkucalendar-hobbies;
  }
}

.tkufi-event-ext-event-translations-form {
  // Make some space after the form
  margin-bottom: 10em;

  .form-item {
    margin-bottom: 0;

    label {
      margin-bottom: 5px;
    }

    table {
      // TODO remove this once generic table styles don't interfere
      margin-bottom: 0 !important;
    }
  }

  input[type="text"] {
    height: 30px;
    line-height: 30px;
    max-width: 100%;
    padding: 0 10px;
  }

  tr {
    &.odd {
      background-color: $turkucalendar-lightgray;
    }

    &.even {
      background-color: $turkucalendar-lightergray;
    }
  }

  tr.draggable td:first-child {
    width: 2em;
  }

  .date-float {
    margin-top: 10px;
  }

  .tabledrag-handle .handle {
    margin: -1px 0;
    padding: 15px;
  }

  .form-actions {
    &.form-wrapper {
      margin-top: 1em;
    }

    .form-submit {
      background-color: $turkucalendar-red;
    }
  }

  .form-wrapper {
    padding: 0.5em;

    + .form-wrapper {
      margin-top: 1em;
    }
  }

  .form-item-language {
    background-color: $turkucalendar-lightgray;
  }

  .description {
    padding: 5px 10px;
  }

  .form-checkboxes {
    background-color: $turkucalendar-lightgray;

    @include breakpoint($phablet) {
      font-size: 1em;
    }
  }

  .taxonomy-level-0 .taxonomy-level {
    height: 0;
    overflow: hidden;
  }

  .is-checked {
    ~ .taxonomy-level {
      height: auto;
    }
  }

  .vertical-tabs {
    .form-wrapper {
      background-color: $turkucalendar-lightgray;
    }

    .form-type-textfield input {
      width: auto;
    }

    ul.vertical-tabs-list li {
      list-style-type: none;

      &.selected {
        background-color: $turkucalendar-lightgray;
      }
    }
  }

  .vertical-tabs .fieldset-wrapper .form-wrapper {
    background-color: transparent;
  }

  .sticky-header {
    @include content-in-front-of-header;
  }
}

html.js .tkufi-event-ext-event-translations-form {
  .form-autocomplete {
    background-position: 100% 6px;

    &.throbbing {
      background-position: 100% -13px;
    }
  }
}

.image-widget {
  .form-file {
    input[type="file"] {
      border: 1px solid $turkucalendar-lightgray;
    }
    input[type="button"] {
      padding: 10px 15px;
    }
  }
}

.tkufi-event-ext-event-translations-form {
  .tabledrag-toggle-weight-wrapper,
  .url-textfield,
  .container-inline-date .description {
    display: none;
  }

  .range-of-repeat .form-radios {
    > .container-inline.count,
    > .until.widget-date_popup {
      color: $body-font-color;
      width: 100%;

      &:before {
        color: $turku-blue;
      }
    }
  }

  .range-of-repeat {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
  }
}
