// Footer styles
.l-footer {
  @include content-in-front-of-header();
  @include font-size(16px);
  background-color: $footer-bg;
  color: $turku-white;
  position: relative;

  @include breakpoint($small-desk) {
    @include font-size(14px);
  }

  .l-region--footer {
    background: url("../images/logo_footer.png") no-repeat 50% 30px $footer-bg;
    margin: 0;
    min-height: 180px;
    overflow: hidden;
    padding: 150px $gutters * 2 10px;

    @include breakpoint($small-desk) {
      background-position: 11% 2.5em;
      margin: 0 0.5%;
      padding: 10px 0;
    }
    @include breakpoint($large-desk) {
      background-position: 80px 2.5em;
    }

    // Block containing extra information (only one can fit here really)
    .block--block {
      @include breakpoint($small-desk) {
        @include grid-span(3, 2);
        margin: 2em 0;
        padding: 110px 0 0 1em; // Turku-logo amount + spacing on the sides
      }

      @include breakpoint($large-desk) {
        @include grid-span(2, 1);
      }
    }

    .block--menu-block {
      @include breakpoint($small-desk) {
        @include grid-span(9, 4);
        margin: 2em 0;
      }

      @include breakpoint($large-desk) {
        @include grid-span(10, 3);
      }
    }
  }

  .l-after-footer-wrapper {
    background-color: $bg;
  }

  // Links inside the footer
  a {
    color: $footer-link-color;
    font-size: 1em;

    @include breakpoint($small-desk) {
      font-size: 0.9em;
    }

    @include breakpoint($mobi-navi) {
      font-size: 1em;
    }
  }

  .menu {
    height: 100%;
    overflow: hidden;
  }

  .menu__item a:hover {
    text-decoration: underline;
  }

  .menu__item--first-level {
    margin: 2em 0;
    overflow: hidden;

    @include breakpoint($small-desk) {
      display: inline-block;
      margin: 0 0 2em;
      vertical-align: top;
      width: 32%;
    }

    @include breakpoint($large-desk) {
      &:first-child {
        @include layout(10, $gutter: 8px) {
          @include grid-span(2, 1);
        }
      }

      @for $i from 2 to 6 {
        &:nth-child(#{$i}) {
          @include layout(10, $gutter: 8px) {
            @include grid-span(2, $i * 2 - 1);
          }
        }
      }
    }

    > a {
      color: #fff;
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
    }
    > .menu {
      border-top: 1px solid #fff;
      margin-top: 0.25em;
      padding-left: 0;
      padding-top: 0.25em;

      @include breakpoint($small-desk) {
        border-left: 1px solid $footer-link-color;
        border-top: none;
        margin-top: 1em;
        padding-left: 1em;
        padding-top: 0;
      }
    }
  }

  .menu__item--second-level {
    line-height: 1.6em;
    margin-bottom: 7px;

    @include breakpoint($small-desk) {
      line-height: 1.3em;
    }

    a {
      font-size: 1.1em;
    }
  }
}

// Swedish footer logo
.i18n-sv .l-footer {
  .l-region--footer {
    background-image: url("../images/logo_footer_sv.png");
  }
}

// Retina styles
@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3/2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2), (min-resolution: 144dppx) {

  // Footer logo
  .l-footer {
    .l-region--footer {
      background-image: url("../images/logo_footer-2x.png");
      background-size: auto 100px;
    }
  }

  // Swedish footer logo
  .i18n-sv .l-footer {
    .l-region--footer {
      background-image: url("../images/logo_footer_sv-2x.png");
      background-size: auto 100px;
    }
  }
}

// Custom footer styles
.og-context {
  .l-footer {
    .l-region--footer {
      background: none;
      padding-top: 25px;
      position: relative;
      width: 100%;

      @include breakpoint($small-desk) {
        display: block;
        padding-left: 32%;
        padding-top: 10px;
      }

      @include breakpoint($large-desk) {
        padding-left: 0;
      }

      // Footer block with city contact info
      .block--block {
        left: 16px;
        padding-top: 110px;
        position: absolute;

        @include breakpoint($small-desk) {
          left: 0;
          position: absolute;
        }
      }

      .block--block + .block--views {
        .section-footer--item:first-child {
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.section-footer {
  @include breakpoint($small-desk) {
    @include grid-span(12, 1);
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .section-footer--item {
    margin: 0 0 2em;

    @include breakpoint($small-desk) {
      display: inline-block;
      margin: 0 0 2em;
      vertical-align: top;
      width: 32%;
    }

    @include breakpoint($large-desk) {
      &:first-child {
        @include layout(12, $gutter: 8px) {
          @include grid-span(2, 1);
          margin-bottom: 0;
        }
      }

      @for $i from 2 to 7 {
        &:nth-child(#{$i}) {
          @include layout(12, $gutter: 8px) {
            @include grid-span(2, $i * 2 - 1);
            margin-bottom: 0;
          }
        }
      }
    }

    &:first-child {
      @include breakpoint($small-desk) {
        left: 0;
        padding: 0 1em;
        position: absolute;
        width: 32%;
      }

      @include breakpoint($large-desk) {
        left: auto;
        position: static;
        width: (100% / 6);
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    h2, h3 {
      border-bottom: 1px solid #fff;
      margin: 0 0 1em;
      text-transform: uppercase;

      @include breakpoint($small-desk) {
        border-bottom: 0 none;
      }
    }

    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 1.2em;
    }
  }
}
