.form-checkboxes {
  @include user-select(none);
  background-color: $turku-blue;
  display: inline-block;
  font-size: 1em;
  padding: 5px 10px;

  .form-item {
    margin-bottom: 0;
  }

  @include breakpoint($phablet) {
    font-size: 1.2em;
  }
}

.taxonomy-level {
  max-width: 320px;

  .form-item.form-type-checkbox {
    background-color: $navigation-bg;
    display: table;
    line-height: 30px;
    margin: 5px 0 0;
    position: relative;
    @extend .icon;
    @include icon-circle-o;

    &.is-checked {
      @include icon-check-circle;
    }

    &:before {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.6em;
      padding-left: 5px;
    }

    label {
      color: $body-font-color;
      cursor: pointer;
      display: table-cell;
      line-height: 1.3;
      padding: 0 5px 2px;
      vertical-align: middle;
      width: 100%;
    }

    // make the input element transparent and place it over
    // our checkbox icon so it's still clickable
    input[type="checkbox"] {
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 2.5em;
      @include opacity(0);
    }

    &.has-description {
      label {
        width: 50%;
      }
    }
  }
}

.taxonomy-level-0 {
  font-weight: bold;
  line-height: 30px;

  .taxonomy-level {
    font-size: 0.9em;
    padding-left: 1em;
  }

  &:first-child > .form-item.form-type-checkbox {
    margin: 0;
  }
}

.taxonomy-level-1 {
  font-weight: normal;
}

.field-widget-options-onoff {
  .taxonomy-level {
    max-width: 100%;
  }

  .description {
    line-height: 1.3;
  }
}
