
// Help region styles
.l-tools-container {
  @include transition(all 0.3s ease-in-out);
  @include translateY(-50%);
  background-color: lighten($turku-black, 10%);
  color: #fff;
  left: -60%;
  position: fixed;
  top: 50%;
  width: 60%;
  z-index: 999;

  &.open {
    left: 0;
  }

  @include breakpoint($small-desk) {
    left: -300px;
    width: 300px;
  }

  .toggle-tools {
    @include transform(rotate(-90deg));
    @include transform-origin(right, top);
    background-color: $turku-black;
    font-size: 1em;
    line-height: 20px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;

    &:hover {
      cursor: pointer;
      background-color: lighten($turku-black, 20%);
    }
  }

  .block__title {
    background-color: lighten($turku-black, 10%);
    border-bottom: 2px solid $turku-blue;
    font-weight: normal;
    margin: 0;
    padding: 0.5em;
  }

  .block__content {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-image: none;
        list-style-type: none;

        a {
          display: block;
          padding: 0.6em;

          &:hover {
            background-color: $turku-black;
            text-decoration: none;
          }
        }

        &.last a {
          border-bottom: 0 none;
        }
      }
    }

    a {
      color: #fff;
    }
  }
}
