.view-driveturku-trust-units {
  .views-row {
    height: 380px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 4px solid $turku-blue;
    margin-top: 1.5em;

    @include layout(24, $gutter: 1/2) {
      @include float-span(24);

      @include breakpoint($tab) {
        @include float-span(12);
        &:nth-child(2n) {
          @include float-span(12, last);
        }
      }

      @include breakpoint($small-desk) {
        @include float-span(8);
        &:nth-child(2n) {
          @include float-span(8);
        }
          &:nth-child(3n) {
            @include float-span(8, last);
          }
      }

      @include breakpoint($desk) {
        @include float-span(6);
        &:nth-child(2n),
        &:nth-child(3n) {
          @include float-span(6);
        }
        &:nth-child(4n) {
          @include float-span(6, last);
        }
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      margin-top: 5px;
    }
  }
  .views-row-last {
    margin-bottom: 2em;
  }
}
