.pager {
  border-top: .063rem solid $gray-light;
  margin-top: .626rem - .313rem;
  padding-top: .625rem;

  .pager__item {
    display: inline-block;
    line-height: 2;
    padding: 0;

    a {
      @include font-size(12px);
      background-color: $link-color;
      color: $white;
      padding: .313rem .625rem;
    }

    &.pager__item--current {
      font-weight: normal;
      padding: .313rem .625rem;
    }
  }
}
