.quicktabs-ui-wrapper {
  border: 0;
  font-family: $bergen-text;
  font-size: 1.125rem;
  padding: 0;

  .ui-tabs-nav {
    background: transparent;
    border-bottom: 5px solid $secondary-color;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family: $bergen-mono;
    font-size: 1.125rem;
    margin: 0 (-$container-gutter) .938rem;
    padding: 0 $container-gutter;

    @media screen and (min-width: $mobile-landscape-wide) {
      margin: 0 (-$container-gutter * 2);
      padding: 0 ($container-gutter * 2);
    }

    @media screen and (min-width: $tablet-landscape) {
      border: 0;
      margin: 0;
      padding: 0;
    }

    .ui-state-default {
      background-color: transparent;
      border: 0 none;
      border-radius: 0;
      display: block;
      height: 2.917rem;
      line-height: inherit;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-indent: -9999px;
      width: 2.917rem;

      @media screen and (min-width: $tablet-landscape) {
        border: .063rem solid $secondary-color;
        height: auto;
        margin-right: .625rem;
        text-indent: 0;
        text-transform: uppercase;
        width: auto;
      }

      .ui-tabs-anchor {
        color: $primary-color;
        display: block;
        float: none;
        padding: 0;

        @media screen and (min-width: $tablet-landscape) {
          color: $secondary-color;
          padding: .625rem 1.563rem .625rem 2.5rem;
        }

        &::after {
          display: inline-block;
          left: 50%;
          position: absolute;
          text-indent: 0;
          top: 50%;
          transform: translate(-50%, -50%);

          @media screen and (min-width: $tablet-landscape) {
            left: 1.25rem;
          }
        }

        &.all,
        &.kaikki {
          &::after {
            background: url('../../dist/image/current-all-icon.svg') no-repeat center center transparent;
            background-size: auto 100%;
            content: "";
            height: 1.25rem;
            width: 1.25rem;

            @media screen and (min-width: $tablet-landscape) {
              background-image: url('../../dist/image/current-all-icon--red.svg');
            }
          }
        }

        &.news::after,
        &.uutiset::after {
          @include fa('\f073', 1.2rem, 1, false);
        }

        &.nearby::after,
        &.lähellä::after {
          @include fa('\f041', 1.2rem, 1, false);
        }

        &.facebook::after {
          @include fa('\f230', 1.2rem, 1, false);
        }

        &.instagram::after {
          @include fa('\f16d', 1.2rem, 1, false);
        }

        &.twitter::after {
          @include fa('\f099', 1.2rem, 1, false);
        }

        &.linkedin::after {
          @include fa('\f08c', 1.2rem, 1, false);
        }

        &.youtube::after{
          @include fa('\f16a', 1.2rem, 1, false);
        }

        &.blogs::after,
        &.blogit::after {
          @include fa('\f044', 1.2rem, 1, false);
        }
      }

      &:hover,
      &:focus,
      &.ui-state-active {
        background-color: $secondary-color;
        margin-bottom: 0; // Override ui-tabs default
        padding-bottom: 0; // Override ui-tabs default

        .ui-tabs-anchor {
          color: $white;

          &.all::after,
          &.kaikki::after {
            background-image: url('../../dist/image/current-all-icon--white.svg');
          }
        }
      }
    }
  }

  .ui-tabs-panel {
    clear: both;
    padding: 0;
  }

  .quicktabs_main {
    border-top: .313rem solid $secondary-color;
    padding-top: .938rem;
    width: 100%;

    @media screen and (min-width: $tablet-landscape) {
      border: 0 none;
    }
  }
}
