.quicktabs-wrapper {
  .quicktabs-tab {
    border: 1px solid $default-color;
    border-radius: .125rem;
    display: inline-block;
    line-height: inherit;
    margin: 0 .25rem .5rem;
    padding: .5rem 1.25rem .575rem;
    background-color: $default-color;
    color: $white;
    font-size: $base-font-size-rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: $default-color-medium-dark;
      background-color: $default-color-medium-dark;
    }
  }
}
