// .block--tkufi-export-feature-tkufi-rss-feed-for-section,
// .block--tkufi-export-feature-tkufi-rss-feed-for-theme,
// .block--tkufi-export-feature-tkufi-rss-feed-for-landing-page
.rss-feed {
  margin: 1rem 0 0;
  position: relative;
  text-align: center;

  // @media screen and (min-width: $mobile-landscape-wide) {
  //   margin-left: 1%;
  //   margin-right: 1%;
  // }

  // @media screen and (min-width: $tablet-portrait) {
  //   margin-left: 0.5%;
  //   margin-right: 0.5%;
  // }
}

.rss-feed__link {
  background-color: $default-color-darker;
  display: inline-block;
  line-height: 0;
  margin: 0;
  padding: .25rem;
  text-align: center;
  vertical-align: middle;

  &:before,
  &:after {
    background-color: $primary-color;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 44%;

    @media screen and (min-width: $mobile-landscape-wide) {
      width: 46%;
    }

    @media screen and (min-width: $tablet-portrait) {
      width: 47%;
    }

    @media screen and (min-width: $desktop) {
      width: 48%;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:hover,
  &:focus {
    background: $primary-color;
  }
}

// Special styles to landing page since it has background for the feed block
.block--tkufi-export-feature-tkufi-rss-feed-for-landing-page .rss-feed {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-top: 0;
  position: absolute;
  right: 0;
}
