@font-face {
  font-family: 'norwesterregular';
  src: url('../../fonts/norwester-webfont.eot');
  src: url('../../fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/norwester-webfont.woff2') format('woff2'),
       url('../../fonts/norwester-webfont.woff') format('woff'),
       url('../../fonts/norwester-webfont.ttf') format('truetype'),
       url('../../fonts/norwester-webfont.svg#norwesterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
