/*******************************************************************************
 * driveturku-default.layout.scss
 *
 * Layout built with Singularity.
 ******************************************************************************/

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
@import "../../abstractions/**/*";
@import "../../variables/**/*";

.l-main-wrapper {
  background: url('../../../images/bg_pattern.png') repeat 0 0 $after-content-bg;
  clear: both;
  overflow: visible;
}

.l-before-content,
.l-after-content {
  background: none 0 0 $darker-gray;
}

.l-main {
  @include clearfix();
  background-color: $after-content-bg;
}

.l-region,
.l-content {
  margin: 0 $gutters * 2;

  @include breakpoint($small-desk) {
    margin: 0;
  }
}

.l-content .l-region--before-content {
  margin: 0;
}

.l-main,
.l-footer .l-region {
  @include breakpoint($small-desk) {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
  }
}

.l-region--sidebar-first {
  @include breakpoint($small-desk) {
    @include grid-span(4, 1);
    padding-left: $gutters * 2;
  }

  @include breakpoint($mobi-navi) {
    @include grid-span(3, 1);
    padding-left: $gutters * 2;
  }
}

.l-region--sidebar-second {
  @include breakpoint($small-desk) {
    @include grid-span(3, 10);
    padding-right: $gutters * 2;
  }
}

.l-content {
  @include breakpoint($small-desk) {
    @include grid-span(12, 1);
    padding: 0 $gutters * 2;
  }
}

.l-page {
  &.has-one-sidebar.has-sidebar-first {
    .l-content {
      @include breakpoint($small-desk) {
        @include grid-span(8, 5);
        padding: 0 $gutters * 2 0 0;
      }

      @include breakpoint($mobi-navi) {
        @include grid-span(9, 4);
        padding: 0 $gutters * 2 0 0;
      }
    }
  }
  &.has-one-sidebar.has-sidebar-second {
    .l-content {
      @include breakpoint($small-desk) {
        @include grid-span(9, 1);
        padding: 0 0 0 $gutters * 2;
      }
    }
  }
  &.has-two-sidebars {
    .l-content {
      @include breakpoint($small-desk) {
        @include grid-span(5, 5);
        padding: 0;
      }

      @include breakpoint($mobi-navi) {
        @include grid-span(6, 4);
        padding: 0;
      }
    }
  }
}

// Main container goes over the header image on content pages
.has-main-image {
  .l-branding,
  .l-navigation {
    @include in-front-of-header;
    left: 0;
    position: relative;
    top: 0;

    @include breakpoint($mobi-navi) {
      left: auto;
      position: relative;
      top: auto;
    }
  }

  .l-before-header {
    @include in-front-of-header;
    position: relative;
  }

  .l-branding {
    @include branding-in-front-of-header;
  }

  .l-navigation {
    background-color: $header-overlay-bg;
    padding: 13px 0;
    width: 100%;

    @include breakpoint($mobi-navi) {
      background-color: $navigation-bg;
      padding: 0;
    }
  }

  .l-main {
    padding-bottom: 2em;

    @include breakpoint($small-desk) {
      @include content-in-front-of-header;
      margin-top: 15%;
      position: relative;
    }
  }
}

// Highlighted area works as the container for breadcrumb etc on sub-pages so the background color is different here
.l-highlighted {
  background-color: $sub-page-highlighted-bg;
}
