    <div class="jumbotron" id="about">
      <div class="container">
        <h2>Miten alustaa on kehitetty?</h2>
        <p>Turun verkkopalvelualusta on tuhansien henkilötyöpäivien suunnittelu-, testaus- ja rakennustyön tulos. Tästä työstä suuren osan on tehnyt kaupungin oma henkilöstö, mutta ulkopuolisten tekemän teknisen työn osuus on myös mittava. Kokonaisuutta on alusta lähtien rakennettu usean kumppanin yhteistyönä, eikä yksikään tekninen toimittaja omista yksinoikeutta alustan ylläpitoon tai jatkokehitykseen.</p>

<p>Turku.fi luotiin ainutlaatuisella yhteistyöllä neljän verkkopalvelutoimittajan kesken. Avoltus Oy, Citrus Solutions Oy, Druid Oy ja Wunder Finland Oy hyödynsivät työssään laajasti Drupal-yhteisön luomia moduuleja ja toimintoja. Verkkopalvelun ominaisuuksia oli kehittämässä myös laaja joukko kaupungin työntekijöitä, korkeakouluharjoittelijoita sekä kaupungin asukkaita, joiden näkemykset ja huomiot ohjasivat rakennustyötä jaossa olevaksi kokonaisuudeksi.</p>
<p>Porin kaupunki innostui jo varhaisessa vaiheessa Turun kehittämän alustan hyödyntämisestä ja on ehtinyt sen käyttöönotossa pisimmälle.</p>
<p>Yhdessä Druid Oy:n kanssa toteutetun pilottihankkeen tavoitteena oli varmistaa alustan tekninen soveltuvuus Porin tarpeisiin, toimiva ja helppokäyttöinen sisällönsyöttö sekä rakenteen joustavuus muuttuville tarpeille.</p>
<p>Vaikka hanke aloitettiin jo ennen avoimen alustan julkaisuversion valmistumista, tulokset olivat vakuuttavia. Alustan todettiin tarjoavan toimivan ratkaisun Porinkin tarpeisiin.</p>
<p>Pilotin perustoteutusta laajennetaan vielä kattavalla hakumoottorilla, jonka jälkeen kaikki tekniset linjaukset ovat kasassa aikanaan tulossa olevaa sivustouudistusta varten.</p>
<p>Kuntien näkökulmasta avoimen verkkoalustan ympärille syntyvä ekosysteemi tuo merkittävää hyötyä verkkokehitystyöhön. Kaikkia toiminnallisuuksia ei tarvitse toteuttaa itse vaan alustan kautta kunnat saavat paljon valmiita komponentteja nopeasti käyttöönsä. Myös jatkokehityksen myötä syntyvät uudet toiminnallisuudet ja parannukset ovat kaikkien käytettävissä.</p>
      </div>
    </div>
    <div class="container">
      <div class="article">
        <div class="page-header">
          <h3>Aiheesta kirjoitettua</h3>
        </div>
        <p><a href="http://www.turku.fi/uutinen/2016-09-08_turku-avaa-verkkopalvelun-lahdekoodin-yhteiseen-kayttoon-0">Turun tiedote: Turku avaa verkkopalvelun lähdekoodin yhteiseen käyttöön</a></p>
<p><a href="https://www.epressi.com/tiedotteet/tietotekniikka/turku.fin-lahdekoodi-kiinnostaa-jo-monia.html">Turun tiedote 2: Turku.fi:n lähdekoodi kiinnostaa jo monia</a> (<a href="https://www.epressi.com/tiedotteet/telekommunikaatio/kallkoden-till-turku.fi-vacker-redan-intresse.html">på svenska</a>)</p>
<p><a href="http://www.turku.fi/dipake">Turun kaupungin digitaalisen kehittämisen blogi</a></p>
        <div class="statistics">
          <div class="page-header">
            <h3>Turku.fi numeroina</h3>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="text-center panel panel-well panel-default" data-match-height="stats">
                <div class="panel-heading">
                  <span class="icon icon--star"></span>
                  <h3>400 000</h3>
                  <h5>kävijää kuukaudessa</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="text-center panel panel-well panel-default" data-match-height="stats">
                <div class="panel-heading">
                  <span class="icon icon--users"></span>
                  <h3>500</h3>
                  <h5>sisällön&shy;tuottajaa</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="text-center panel panel-well panel-default" data-match-height="stats">
                <div class="panel-heading">
                  <span class="icon icon--refresh"></span>
                  <h3>1 500 000</h3>
                  <h5> sivu&shy;latausta kuukaudessa</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
