    <div class="container" id="about">
      <div class="article">
        <div class="page-header">
          <h3>Mitä kaikkea avoin verkkopalvelualusta tarjoaa?</h3>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="features row">
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--mobile"></span><span class="icon icon--tablet"></span><span class="icon icon--laptop"></span>
                <h4>Responsiivinen</h4>
                <span>Skaalautuu eri pääte&shy;laitteisiin</span>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--language"></span>
                <h4>Moni&shy;kielinen</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--wheelchair"></span>
                <h4>Saavutettava</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--plane"></span>
                <h4>Dynaamiset laskeutumis&shy;sivut kohde&shy;yleisön mukaan</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-primary" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--registered"></span>
                <h4>Brändisivut</h4>
                <span>oma domain, footer, ilme, navigaatio</span>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-black" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--camera-retro"></span>
                <h4>Visuaaliset osiot</h4>
                <span>pääsivuston ilme, oma navigaatio</span>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-turku" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--search"></span>
                <h4>Monipuolinen haku</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-turku-pink" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--calendar"></span>
                <h4>Tapahtuma&shy;kalenteri</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--sitemap"></span>
                <h4>PAT-malliin perustuva informaatio&shy;arkkitehtuuri</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--building"></span>
                <h4>Toimipiste–Palvelu–Tapahtuma-logiikka</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-default" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--cogs"></span>
                <h4>Integraatiot mahdollisia</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="panel panel-well panel-none" data-match-height="feature">
            <div class="panel-heading">
              <div class="vertically-centered">
                <span class="icon icon--question"></span>
                <h4>Muuta, mitä?</h4>
                <span>Osallistumalla voit vaikuttaa toteutukseen!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
