  <div class="container-fluid footer-container">
    <div class="page-header text-center">
      <h2>Yhteistyössä</h2>
    </div>
    <div class="footer container">
      <div class="row">
        <div class="col-xs-12 col-md-3 text-center">
          <a href="http://www.avoltus.fi/">
            <img src="/images/avoltus.png" alt="Avoltus" class="brand brand--avoltus">
          </a>
          <p><strong>Avoltus Oy</strong></p>
          <p>Sami Vaskuri<br /><a href="mailto:sami.vaskuri@avoltus.com">sami.vaskuri@avoltus.com</a><br />040 833 0102</p>
          <p><a href="http://www.avoltus.fi/">www.avoltus.fi</a></p>
        </div>
        <div class="col-xs-12 col-md-3 text-center">
          <a href="http://www.citrus.fi/">
            <img src="/images/citrus.png" alt="Citrus" class="brand brand--citrus">
          </a>
          <p><strong>Citrus Solutions Oy</strong></p>
          <p>Taina Koskinen<br /><a href="taina.koskinen@citrus.fi">taina.koskinen@citrus.fi</a><br />040 535 0300</p>
          <p><a href="http://www.citrus.fi/">www.citrus.fi</a></p>
        </div>
        <div class="col-xs-12 col-md-3 text-center">
          <a href="https://www.druid.fi/">
            <img src="/images/druid.png" alt="Druid" class="brand brand--druid">
          </a>
          <p><strong>Druid Oy</strong></p>
          <p>Mika Suominen<br /><a href="mailto:mika.suominen@druid.fi">mika.suominen@druid.fi</a><br />040 735 5733</p>
          <p><a href="http://www.druid.fi/">www.druid.fi</a></p>
        </div>
        <div class="col-xs-12 col-md-3 text-center">
          <a href="http://www.wunderkraut.fi/">
            <img src="/images/wunderkraut.png" alt="Wunderkraut" class="brand brand--wunderkraut">
          </a>
          <p><strong>Wunder</strong></p>
          <p>Hannu Nieminen<br /><a href="mailto:hannu.nieminen@wunder.io">hannu.nieminen@wunder.io</a><br />0400 817 079</p>
          <p><a href="http://www.wunder.io/">www.wunder.io</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
          <a href="http://www.kuntaliitto.fi/">
            <img src="/images/kuntaliitto.png" alt="Kuntaliitto" class="brand brand--kuntaliitto">
          </a>
          <p><strong>Kuntaliitto</strong></p>
          <p>Tommi Karttaavi<br /><a href="mailto:tommi.karttaavi@kuntaliitto.fi">tommi.karttaavi@kuntaliitto.fi</a><br />050 563 3935</p>
          <p><a href="http://www.kuntaliitto.fi/">www.kuntaliitto.fi</a></p>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <a href="http://www.turku.fi/">
            <img src="/images/turku.png" alt="Turku" class="brand brand--turku" style="height: 200px;">
          </a>
          <p><strong>Turun kaupunki</strong></p>
          <p>Sanna Moisala<br /><a href="mailto:sanna.moisala@turku.fi">sanna.moisala@turku.fi</a><br />040 159 4874</p>
          <p><a href="http://www.turku.fi/">www.turku.fi</a></p>
        </div>
      </div>
    </div>
    <!--
    <div class="text-center">
      <a href="http://www.turku.fi/">
        <img src="/images/turku.png" alt="Turku" class="brand brand--turku">
      </a>
    </div>
    -->
  </div>
