// Disable keyword link temporarely.
.attraction .attraction__sidebar .field--name-field-keywords-et {
  a {
    pointer-events: none;
  }
}

// Disable keyword link temporarely.
.liftup-box.liftup-box--attraction-item {
  .attraction-list--item__keywords a {
    pointer-events: none;
  }
}

#filter-toggle-attractions {
  background-color: $gray-light;
  border-radius: 1.875rem;
  color: $primary-color;
  font-family: $bergen-mono;
  font-size: .875rem;
  padding: .313rem .938rem;
  text-transform: uppercase;
  margin-bottom: 10px;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &.active {
    background-color: $black;
    color: $white;
  }
}
.attraction-list--item__description {
  text-transform: none;
}
