.page-footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $default-color-lightest;
}

.page-footer,
.page-footer a {
  color: $black;
}

.page-footer {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  background: $white;
}
