.page-footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #E7E7EA;
}

.page-footer,
.page-footer a {
  color: $black;
}

.page-footer {
  padding-top: 3.125rem;
  background: #E7E7EA;

  @media screen and (min-width: $desktop) {
    padding-top: 1.3rem;
  }

  .page-footer__container {
    border-bottom: 0.938rem solid #E7E7EA;
    padding-bottom: 1.875rem;
    
    @media screen and (min-width: $mobile-footer-breakpoint) {
      position: relative;
    }
  }
}
