.page-main__container,
.content-top {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.theme-main-page,
.front,
.node-type-landing-page,
body:not(.page--highlight-image) {
  .page-main__container,
  .content-top {
    padding-top: 1.25rem;
  }

  .content-top {
    padding-bottom: 0;
    padding-top: 0;
  }
}