
@font-face {
  font-family:"driveturku";
  src:url("../fonts/generated/driveturku.eot?d33313ce067e7ade08dcfaf5ddf3fce1");
  src:url("../fonts/generated/driveturku.eot?#iefix") format("embedded-opentype"),
		url("../fonts/generated/driveturku.woff?d33313ce067e7ade08dcfaf5ddf3fce1") format("woff"),
		url("../fonts/generated/driveturku.ttf?d33313ce067e7ade08dcfaf5ddf3fce1") format("truetype");
  font-weight:normal;
  font-style:normal;
}

.icon {
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
}


// Icons


@mixin icon-after-angle-down() {
  &:after {
    content:"\f101";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-angle-down() {
  &:before {
    content:"\f101";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--angle-down {
  @include icon-angle-down();
}


@mixin icon-after-angle-left() {
  &:after {
    content:"\f102";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-angle-left() {
  &:before {
    content:"\f102";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--angle-left {
  @include icon-angle-left();
}


@mixin icon-after-angle-right() {
  &:after {
    content:"\f103";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-angle-right() {
  &:before {
    content:"\f103";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--angle-right {
  @include icon-angle-right();
}


@mixin icon-after-angle-up() {
  &:after {
    content:"\f104";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-angle-up() {
  &:before {
    content:"\f104";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--angle-up {
  @include icon-angle-up();
}


@mixin icon-after-arrow-left() {
  &:after {
    content:"\f105";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-arrow-left() {
  &:before {
    content:"\f105";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--arrow-left {
  @include icon-arrow-left();
}


@mixin icon-after-arrow-right() {
  &:after {
    content:"\f106";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-arrow-right() {
  &:before {
    content:"\f106";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--arrow-right {
  @include icon-arrow-right();
}


@mixin icon-after-calendar-o() {
  &:after {
    content:"\f107";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-calendar-o() {
  &:before {
    content:"\f107";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--calendar-o {
  @include icon-calendar-o();
}


@mixin icon-after-check-circle() {
  &:after {
    content:"\f108";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-check-circle() {
  &:before {
    content:"\f108";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--check-circle {
  @include icon-check-circle();
}


@mixin icon-after-circle-o() {
  &:after {
    content:"\f109";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-circle-o() {
  &:before {
    content:"\f109";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--circle-o {
  @include icon-circle-o();
}


@mixin icon-after-circle() {
  &:after {
    content:"\f10a";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-circle() {
  &:before {
    content:"\f10a";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--circle {
  @include icon-circle();
}


@mixin icon-after-close() {
  &:after {
    content:"\f10b";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-close() {
  &:before {
    content:"\f10b";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--close {
  @include icon-close();
}


@mixin icon-after-e-service-icon() {
  &:after {
    content:"\f10c";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-e-service-icon() {
  &:before {
    content:"\f10c";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--e-service-icon {
  @include icon-e-service-icon();
}


@mixin icon-after-email-icon() {
  &:after {
    content:"\f10d";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-email-icon() {
  &:before {
    content:"\f10d";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--email-icon {
  @include icon-email-icon();
}


@mixin icon-after-facebook-box() {
  &:after {
    content:"\f10e";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-facebook-box() {
  &:before {
    content:"\f10e";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--facebook-box {
  @include icon-facebook-box();
}


@mixin icon-after-facebook() {
  &:after {
    content:"\f10f";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-facebook() {
  &:before {
    content:"\f10f";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--facebook {
  @include icon-facebook();
}


@mixin icon-after-group() {
  &:after {
    content:"\f110";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-group() {
  &:before {
    content:"\f110";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--group {
  @include icon-group();
}


@mixin icon-after-instagram() {
  &:after {
    content:"\f111";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-instagram() {
  &:before {
    content:"\f111";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--instagram {
  @include icon-instagram();
}


@mixin icon-after-linkedin-box() {
  &:after {
    content:"\f112";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-linkedin-box() {
  &:before {
    content:"\f112";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--linkedin-box {
  @include icon-linkedin-box();
}


@mixin icon-after-linkedin() {
  &:after {
    content:"\f113";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-linkedin() {
  &:before {
    content:"\f113";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--linkedin {
  @include icon-linkedin();
}


@mixin icon-after-list-alt() {
  &:after {
    content:"\f114";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-list-alt() {
  &:before {
    content:"\f114";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--list-alt {
  @include icon-list-alt();
}


@mixin icon-after-location() {
  &:after {
    content:"\f115";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-location() {
  &:before {
    content:"\f115";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--location {
  @include icon-location();
}


@mixin icon-after-menu-collapsed-right() {
  &:after {
    content:"\f116";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-menu-collapsed-right() {
  &:before {
    content:"\f116";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--menu-collapsed-right {
  @include icon-menu-collapsed-right();
}


@mixin icon-after-menu-collapsed() {
  &:after {
    content:"\f117";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-menu-collapsed() {
  &:before {
    content:"\f117";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--menu-collapsed {
  @include icon-menu-collapsed();
}


@mixin icon-after-menu-expanded() {
  &:after {
    content:"\f118";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-menu-expanded() {
  &:before {
    content:"\f118";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--menu-expanded {
  @include icon-menu-expanded();
}


@mixin icon-after-menu-third-level() {
  &:after {
    content:"\f119";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-menu-third-level() {
  &:before {
    content:"\f119";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--menu-third-level {
  @include icon-menu-third-level();
}


@mixin icon-after-minus() {
  &:after {
    content:"\f11a";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-minus() {
  &:before {
    content:"\f11a";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--minus {
  @include icon-minus();
}


@mixin icon-after-mobile-menu() {
  &:after {
    content:"\f11b";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-mobile-menu() {
  &:before {
    content:"\f11b";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--mobile-menu {
  @include icon-mobile-menu();
}


@mixin icon-after-phone() {
  &:after {
    content:"\f11c";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-phone() {
  &:before {
    content:"\f11c";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--phone {
  @include icon-phone();
}


@mixin icon-after-plus() {
  &:after {
    content:"\f11d";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-plus() {
  &:before {
    content:"\f11d";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--plus {
  @include icon-plus();
}


@mixin icon-after-search() {
  &:after {
    content:"\f11e";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-search() {
  &:before {
    content:"\f11e";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--search {
  @include icon-search();
}


@mixin icon-after-slider-indicator-active() {
  &:after {
    content:"\f11f";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-slider-indicator-active() {
  &:before {
    content:"\f11f";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--slider-indicator-active {
  @include icon-slider-indicator-active();
}


@mixin icon-after-slider-indicator() {
  &:after {
    content:"\f120";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-slider-indicator() {
  &:before {
    content:"\f120";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--slider-indicator {
  @include icon-slider-indicator();
}


@mixin icon-after-star() {
  &:after {
    content:"\f121";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-star() {
  &:before {
    content:"\f121";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--star {
  @include icon-star();
}


@mixin icon-after-th-list() {
  &:after {
    content:"\f122";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-th-list() {
  &:before {
    content:"\f122";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--th-list {
  @include icon-th-list();
}


@mixin icon-after-th() {
  &:after {
    content:"\f123";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-th() {
  &:before {
    content:"\f123";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--th {
  @include icon-th();
}


@mixin icon-after-times() {
  &:after {
    content:"\f124";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-times() {
  &:before {
    content:"\f124";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--times {
  @include icon-times();
}


@mixin icon-after-twitter() {
  &:after {
    content:"\f125";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-twitter() {
  &:before {
    content:"\f125";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--twitter {
  @include icon-twitter();
}


@mixin icon-after-youtube-play() {
  &:after {
    content:"\f126";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-youtube-play() {
  &:before {
    content:"\f126";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--youtube-play {
  @include icon-youtube-play();
}


@mixin icon-after-youtube-tube() {
  &:after {
    content:"\f127";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-youtube-tube() {
  &:before {
    content:"\f127";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--youtube-tube {
  @include icon-youtube-tube();
}


@mixin icon-after-youtube-you() {
  &:after {
    content:"\f128";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-youtube-you() {
  &:before {
    content:"\f128";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--youtube-you {
  @include icon-youtube-you();
}


@mixin icon-after-youtube() {
  &:after {
    content:"\f129";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin icon-youtube() {
  &:before {
    content:"\f129";
    font-family: "driveturku";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.icon--youtube {
  @include icon-youtube();
}

