@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

$body-font: 'Open Sans', sans-serif;

$base-font-size: 16px;

$font-size-h1: 2.286em;
$font-size-h2: 1.286em;
$font-size-h3: 1em;

$navigation-font: Helvetica Neue, Helvetica, Arial, sans-serif;
