@media screen and (min-width: $mobile-menu-breakpoint) {
  .menu-name-main-menu,
  .menu-name-menu-main-menu-en {
    .responsive-menus .menu {
      display: flex;
      justify-content: space-between;
    }

    .responsive-menus > .menu {
      width: 100%;
    }

    .menu__item {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 0;
      width: 100%;

      a {
        //border-top: 1px solid $gray-light;
        color: $white;
        display: block;
        font-size: 1rem;
        padding: 1.25rem $container-gutter;
        text-transform: uppercase;
      }
    }

    .menu__item--expanded-toggle {
      display: none;
    }

    .menu__item--has-first-level {
      > a {
        border-top: 0 none;
        color: $white;
        padding: .75rem 1.91rem;

        &:hover,
        &:focus {
          text-decoration: underline;
          background-color: transparent;
        }
      }

      // Loop through each Visitpori color and set colors.
      $colors: $red-light, $orange, $green-light, $green, $blue;

      @each $color in $colors {
        $i: index($colors, $color);
        &:nth-child(#{$i}) { 
          background-color: $color;

          > .menu {
            border-bottom: 4px solid $color;
            border-top: 0;
          }
          .menu__item--has-second-level {
            &:hover {
              background-color: $color;
              a { color: $white; }
            }
            a {
              color: $color;
            }
            &.is-active-trail {
              background-color: $color;
              a { color: $white; }
            }
          }
        }
      }

      > .menu {
        background-color: $gray-lighter;
        box-sizing: content-box;
        display: none;
        left: auto;
        position: absolute;
        top: 100%;
        z-index: 100;
      }

      &:hover {
        > .menu {
          display: block;
        }
      }

      &.is-expanded {
        > a {
          &:hover,
          &:focus {
          }
        }
      }

      //&.is-active-trail {
      //  background-color: $secondary-color;
      //}

      > .menu__item--expanded-toggle {
        display: none;
      }
    }

    .menu__item--has-second-level {
      background-color: $white;
      clear: both;
      display: block;
      position: static;
      width: 100%;
      z-index: 101;

      > .menu {
        background-color: $gray-lighter;
        display: none;
        left: 100%;
        position: absolute;
        top: 0;
        width: 31%;
      }

      > a {
        color: $black;
        position: relative;
      }

      &:first-child {
        > a {
          border-top: 0 none;
        }
      }

      &:hover {

        > a {
          color: $white;
        }

        > .menu {
          display: block;
          z-index: 102;
        }
      }

      &.is-expanded {
        > a::before {
          background: url('../../dist/image/plus-icon--white.svg') no-repeat center center $black;
          background-size: auto .7rem;
          border-radius: 100%;
          content: "";
          display: block;
          height: 1.563rem;
          position: absolute;
          right: 1.875rem;
          top: 1.188rem;
          width: 1.563rem;
        }

        &:hover {
          > a::before {
            background-color: $white;
            background-image: url('../../dist/image/minus-icon.svg');
          }
        }
      }

      &.is-active-trail {
        background-color: $secondary-color;

        > a {
          color: $white;

          &::before {
            background-color: $white;
            background-image: url('../../dist/image/minus-icon.svg');
          }
        }

        > .menu {
          display: block;
        }
      }
    }

    .e-service-wrapper {
      background-color: $secondary-color-medium-dark;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 34%;

      > a {
        background: url('../../dist/image/e-service-icon--white.svg') no-repeat 1.875rem center $secondary-color;
        background-size: 1.875rem auto;
        border-top: 0;
        color: $white;
        font-weight: bold;
        padding-left: 4.688rem;
      }

      > .menu {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0 1.875rem;

        .menu__item {
          border-bottom: 1px solid $primary-color;
          margin: 0;

          a {
            background: url('../../dist/image/arrow-right-icon.svg') no-repeat right center transparent;
            background-size: .938rem auto;
            border-bottom: 0 none;
            display: inline-block;
            font-weight: bold;
            padding: 1.25rem 1.875rem 1.25rem 0;
            text-transform: none;
          }

          &:last-child {
            border-bottom: 0 none;
          }
        }
      }
    }
  }
}
