$menu-padding: 1.25rem;

.toggler {
  background: none;
  border-left: 1px solid $gray-light;
  color: $red;
  display: block;
  height: 3.125rem;
  text-align: center;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  // Hide toggler after desktop narrow
  @media screen and (min-width: $mobile-menu-breakpoint) {
    display: none;
  }
}

@media screen and (max-width: $mobile-menu-breakpoint-max) {
  .menu-name-main-menu,
  [class*="menu-name-menu-main-menu"] {
    .toggler {
      color: transparent;
      font-size: 0;
      position: absolute;
      right: 0;
      top: -3.125rem;

      &::before {
        @include fa('\f0c9', 1.5rem, 3.125rem, false);
        color: $black;
        font-style: normal;
      }

      &:hover,
      &:focus {
        background-color: $red;
        border-color: $red;

        &::before {
          color: $white;
        }
      }
    }

    // Once toggled the menu icon should change color
    .responsive-toggled .toggler {
      background-color: $red;
      border-color: $red;
      color: $red;

      &::before {
        color: $white;
      }
    }

    .is-collapsed,
    .is-expanded {
      > .menu__item--expanded-toggle {
        background: url('../../dist/image/plus-icon.svg') no-repeat center center $white;
        background-size: auto .7rem;
        border-radius: 100%;
        height: 1.563rem;
        position: absolute;
        right: 1.25rem;
        top: 1.063rem;
        width: 1.563rem;

        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    }

    .is-expanded .menu__item--expanded-toggle {
      background-image: url('../../dist/image/minus-icon.svg');
    }

    .menu__item {
      //background-color: $primary-color;
      margin-top: 0;
      padding: 0;
      position: relative;

      a {
        color: $white;
        display: block;
        margin-right: 2.813rem; // The amount of space that the menu__item--expanded-toggle requires.
        text-transform: uppercase;
        padding: $menu-padding ($menu-padding / 2);
      }
    }

    .menu__item--has-first-level {
      border-bottom: 1px solid $white;

      // Loop through each Visitpori color and color menu items.
      $colors: $red-light, $orange, $green, $green-dark, $blue;

      @each $color in $colors {
        $i: index($colors, $color);
        &:nth-child(#{$i}) { 
          background-color: $color;

          .menu__item--has-second-level {
            > a {
              color: $color;
            }
            &.is-active-trail {
              background-color: $color;
              a { color: $white; }
            }
          }
        }
      }

      &.is-expanded,
      &:last-child {
        border-bottom: 0 none;
      }

      &.is-active-trail a {
        color: $white;
      }
    }

    .menu__item--has-second-level {
      background-color: $white;
      border-bottom: 1px solid $gray;

      &:last-child {
        border-bottom: 0 none;
      }

      > a {
        color: $primary-color;
        padding-left: $menu-padding;
      }

      &.is-collapsed,
      &.is-expanded {
        .menu__item--expanded-toggle {
          background-color: $primary-color;
          background-image: url('../../dist/image/plus-icon--white.svg');
        }
      }

      &.is-expanded .menu__item--expanded-toggle {
        background-image: url('../../dist/image/minus-icon--white.svg');
      }

      &.is-active-trail {
        background-color: $secondary-color-dark;
      }
    }

    .menu__item--has-third-level {
      background-color: $gray-lighter;

      > a {
        color: $primary-color;
        font-weight: bold;
        text-transform: none;
        margin-right: 0; // No need for safety space on right since no visible menu__item--expanded-toggle.
        padding-left: $menu-padding * 2;
      }

      .menu__item--expanded-toggle {
        display: none;
      }

      &.is-active-trail {
        background-color: $secondary-color-medium-dark;
      }
    }

    .responsified > .menu {
      width: 100%;
    }

    .e-service-wrapper {
      background-color: $secondary-color-medium-dark;
      margin: 0;

      > a {
        display: none;
      }

      > .menu {
        padding: 0 1.875rem;

        .menu__item {
          background-color: transparent;
          border-bottom: 1px solid $primary-color;
          margin: 0;

          a {
            background: url('../../dist/image/arrow-right-icon.svg') no-repeat right center transparent;
            background-size: .938rem auto;
            border-bottom: 0 none;
            color: $primary-color;
            display: inline-block;
            font-weight: bold;
            padding: 1.25rem 1.875rem 1.25rem 0;
            text-transform: none;
          }

          &:last-child {
            border-bottom: 0 none;
          }
        }
      }
    }
  }
}
