.header-list {
  font-family: $bergen-mono;
  margin: 0;
  padding: 0;
}

.header-list__item {
  border-bottom: 1px solid $gray;
  list-style: none;
  margin: 0;
}

.header-list__item-link-wrapper {
  @include font-size-responsive($base-font-size-rem);
  font-weight: normal;
  margin: 0;
}

.header-list__item-link {
  color: $primary-color;
  display: block;
  padding: 1.25rem 0;

  @media screen and (min-width: $desktop) {
    padding: 1.25rem 1.875rem;
  }

  &:hover,
  &:focus {
    background-color: $light-gray;
    color: $primary-color;
  }
}
