 //$variants: (
 //  'blue': $turku-blue,
 //  'lime': $turku-lime,
 //  'mint': $turku-mint,
 //  'orange': $turku-orange,
 //  'pink': $turku-pink,
 //  'yellow': $turku-yellow
 //);
 //
 //@each $variant, $color in $variants {
 //  .theme-color-#{$variant} {
 //    border-color: $color !important;
 //
 //    .search-result__attachment {
 //      background-color: $color;
 //    }
 //
 //    .search-result__breadcrumb {
 //      color: $color;
 //    }
 //
 //    .search-result__meta {
 //      color: $color;
 //    }
 //
 //    .search-result__tags,
 //    .field-name-field-keywords {
 //      .field-item {
 //        background-color: $color !important;
 //
 //        a {
 //          @if ($color == $turku-yellow) {
 //            color: #000 !important;
 //          }
 //          @else {
 //            color: #FFF !important;
 //          }
 //        }
 //      }
 //    }
 //
 //    .widget-event-carousel .flex-caption__date {
 //      background-color: rgba($color, 0.9);
 //    }
 //
 //    .main-liftup-box__caption,
 //    .liftup-box__caption {
 //      background-color: rgba($color, 1);
 //    }
 //
 //    .main-liftup-box__content {
 //      border-color: rgba($color, 1) !important;
 //    }
 //
 //    .header-list__item-link {
 //      background-color: $color;
 //
 //      &:after {
 //        background-color: darken($color, 10);
 //      }
 //    }
 //
 //    .block--quicktabs--collapsible .ctools-collapsible-handle {
 //      background-color: $color !important;
 //
 //      &:after {
 //        background-color: darken($color, 10%) !important;
 //      }
 //    }
 //  }
 //
 //  .navigation-theme-color-#{$variant} {
 //    border-color: $color !important;
 //
 //    &.is-active-trail > a,
 //    &.is-active > a,
 //    &:hover > a,
 //    > a:hover {
 //      @media screen and (min-width: $mobile-landscape-wide) {
 //        background-color: $color !important;
 //      }
 //    }
 //
 //    .e-service-wrapper > a {
 //      background-color: $color;
 //      color: #FFF;
 //
 //      &:hover {
 //        background-color: darken($color, 10%);
 //      }
 //    }
 //
 //    .menu {
 //      border-color: $color !important;
 //    }
 //  }
 //}
 //
 //// Special styles for navigation items with poor contrast
 //
 //.l-navigation .menu__item--first-level {
 //  &.navigation-theme-color-mint,
 //  &.navigation-theme-color-yellow {
 //    &.is-active-trail > a,
 //    &.is-active > a,
 //    &:hover > a,
 //    > a:hover {
 //      color: #000;
 //    }
 //
 //    &.is-collapsed,
 //    &.is-expanded {
 //      &.is-active-trail,
 //      &.is-active,
 //      &:hover {
 //        > a {
 //          &:after {
 //            @media screen and (min-width: $mobile-landscape-wide) {
 //              background-color: rgba(0, 0, 0, 0.2);
 //              border: 1px solid #000;
 //            }
 //          }
 //
 //          &:before {
 //            @media screen and (min-width: $mobile-landscape-wide) {
 //              color: #000;
 //            }
 //          }
 //        }
 //      }
 //    }
 //
 //    .e-service-wrapper > a {
 //      color: #000;
 //    }
 //  }
 //}
 //
 //.theme-color-mint,
 //.theme-color-yellow {
 //  .main-liftup-box__caption,
 //  .liftup-box__caption {
 //    color: #000;
 //    font-weight: 400;
 //  }
 //
 //  .header-list .header-list__item .header-list__item-link-wrapper .header-list__item-link,
 //  .block--quicktabs--collapsible .ctools-collapsible-handle,
 //  .header-list .header-list__item .header-list__item-link-wrapper .header-list__item-link::before,
 //  .block--quicktabs--collapsible .ctools-collapsible-handle::before {
 //    color: #000;
 //  }
 //}
