.page-footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $default-color-lightest;
}

.page-footer,
.page-footer a {
  color: $black;
}

.page-footer {
  padding-top: 3.125rem;
  background: $white;

  .page-footer__container {
    border-bottom: 0.938rem solid $secondary-color;
    padding-bottom: 1.875rem;
    
    @media screen and (min-width: $mobile-footer-breakpoint) {
      position: relative;
    }
  }
}
