.container {
  @include responsive-whitespace;
  margin: 0 auto;
  max-width: $container-width;
}

.l-content .l-region--before-content {
  margin: 0;
}

// Front page before content region needs to be relative so that the news archive button can be placed correctly.
.front .l-content .l-region--before-content,
.node-type-section .l-content .l-region--before-content {
  @media screen and (min-width: $container) {
    position: relative;
  }
}
