.scald-atom--carousel {
  .field {
    position: relative;

    @media screen and (min-width: $tablet-portrait) {
      &::after {
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        background: $black;
        content: '';
        opacity: .3;
      }
    }

    @media screen and (min-width: $desktop-narrow) {
      &::after {
        width: 67.5%;
        background: linear-gradient(to right, $black, rgba($black, 0));
        opacity: .5;
      }
    }

    @media screen and (min-width: $desktop) {
      &::after {
        width: 55%;
      }
    }

    @media screen and (min-width: $container) {
      &::after {
        width: 60%;
      }
    }
  }
}

