.page-node {
  // Set theme colors for additional-info.
  @each $theme-color, $color in $theme-colors {
    .theme-color-#{$theme-color} {
      .page__additional-information {
        .field__item {
          border-bottom: 1px solid $color;
        }

        .page__additional-information__header {
          background-color: $color !important;
          color: $white;
        }
      }
    }
  }
}
