.attraction__image-container {
  margin-left: -$container-gutter;
  margin-right: -$container-gutter;

  @media screen and (min-width: $mobile-landscape-wide) {
    margin-left: 0;
    margin-right: 0;
  }
  
  @media screen and (min-width: $mobile-menu-breakpoint) {
    align-items: center;
    background-color: $gray-light;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  .slider-container {
    margin: 0;
    width: 100%;
    
    @media screen and (min-width: $mobile-menu-breakpoint) {
      width: 65%;
    }
  }

  .slide-navigation {
    display: none;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      display: block;
      width: 30%;
    }

    .slick-slide {
      margin: 0 0 .938rem 0;
      opacity: 0.2;
      
      &.slick-active {
        opacity: 1;
      }
    }

    .slick-arrow {
      background-color: transparent;
      border: 0 none;
      height: 2.5rem;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-indent: -9999px;
      width: 100%;

      &:after {
        left: 50%;
        position: absolute;
        text-indent: 0;
        // This is not 50% because we need to have the arrow at the center of the
        // button and because of the font it will be in the wrong position unless
        // this is set to 43%
        top: 43%;
      }

      &:hover,
      &:focus {
        background-color: $gray;
      }
    }

    .slick-prev {
      &:after {
        @include fa('\f106', 3rem, 0, false);
        color: $red;
        transform: translate(-50%, -50%);
      }
    }

    .slick-next {
      &:after {
        @include fa('\f107', 3rem, 0, false);
        color: $red;
        transform: translate(-50%, -50%);
      }
    }
  }

  .slick-dots {
    bottom: 2rem;
    justify-content: center;
    left: 0;
    position: relative;
  }
}
