.site-branding__name {
  align-items: center;
  display: flex;
  height: 3.125rem;
  margin-bottom: 0;
}

// Hide the logo image since we use backgrounds but leave it for the screen readers to find.
.site-branding--header__visual {
  opacity: 0;
  visibility: hidden;
}

.site-branding__link {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.site-branding--header__link {
  background: url('../../visitpori-logo.svg') no-repeat 0 0 transparent;
  height: 2.188rem;
  width: 2.375rem;

  @media screen and (min-width: $tablet-portrait-narrow) {
    background-image: url('../../visitpori-logo.svg');
    height: 45px;
    width: 300px;
  }
}

.site-branding--footer {
  margin-bottom: 1.875rem;

  @media screen and (min-width: $mobile-footer-breakpoint) {
    left: 1.25rem;
    margin: 0;
    position: absolute;
    top: 0;
  }

  .site-branding__name {
    height: auto;
    line-height: 0;
    padding: 0 1.25rem;

    @media screen and (min-width: $mobile-footer-breakpoint) {
      padding: 0;
    }
  }
}

.site-branding--footer__link {
  background: url('../../visitpori-logo.svg') no-repeat 0 0 transparent;
  height: 1.96rem;
  width: 7.5rem;

  @media screen and (min-width: $mobile-footer-breakpoint) {
    background-image: url('../../visitpori-logo.svg');
    height: 5.188rem;
    width: 5.625rem;
  }
}