.node-type-attraction-card .content__header {
  @media screen and (min-width: $desktop-narrow) {
    float: left;
    width: 65%;
  }

  @media screen and (min-width: $desktop) {
    width: 70%;
  }

  .content-header__title {
    @media screen and (min-width: $desktop-narrow) {
      margin-top: .563rem;
    }

    @media screen and (min-width: $tablet-landscape) {
      margin-top: 0;
    }
  }
}

.attraction__before-content {
  display: none;

  @media screen and (min-width: $desktop-narrow) {
    display: block;
    float: right;
    margin: 0;
    width: 35%;
  }

  @media screen and (min-width: $tablet-landscape) {
    margin: .188rem 0 0;
  }

  @media screen and (min-width: $desktop) {
    width: 30%;
  }
}

.node--attraction-card--full {
  clear: both;
}

.attraction__content-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: $inner-container-width;

  @media screen and (min-width: $desktop-narrow) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.attraction__content {
  margin-bottom: 1.25rem;
  order: 2;

  @media screen and (min-width: $desktop-narrow) {
    order: 1;
    width: 55%;
  }

  @media screen and (min-width: $desktop) {
    width: 65%;
  }
}

.attraction__sidebar {
  order: 1;

  @media screen and (min-width: $desktop-narrow) {
    order: 2;
    width: 35%;
  }

  @media screen and (min-width: $desktop) {
    width: 30%;
  }

  > * {
    margin-bottom: 1.25rem;

    @media screen and (min-width: $desktop) {
      margin-bottom: 3rem;
    }
  }
}