.place--teaser {
  .place__header__title {
    background-color: transparent;
    border-bottom: 1px solid $gray;
    color: $black;
    font-size: .875rem;
    margin: 0;
    padding: .938rem 0;
    position: relative;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      font-size: 1.4rem;
      padding: 1.5rem 2.5rem;
    }

    &:hover {
      cursor: pointer;
    }

    &::before {
      @include fa('\f067', .9rem, 1, false);
      color: $white;
      height: 1.563rem;
      line-height: 1.563rem;
      position: absolute;
      right: .875rem;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 1.563rem;
      z-index: 2;

      @media screen and (min-width: $mobile-menu-breakpoint) {
        font-size: 1.3rem;
        right: 2.5rem;
        width: 2rem;
      }
    }

    &::after {
      background-color: $black;
      border-radius: 100%;
      content: "";
      display: block;
      height: 1.563rem;
      position: absolute;
      right: .875rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.563rem;
      z-index: 1;

      @media screen and (min-width: $mobile-menu-breakpoint) {
        height: 2rem;
        right: 2.5rem;
        width: 2rem;
      }
    }
  }

  .ui-accordion-header-active .place__header__title {
    background-color: lighten($secondary-color, 10%);
    border-bottom: 0 none;
    color: $white;
    margin-top: -1px; // Hide the gray border
    padding: .938rem;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      padding: 1.5rem 2.5rem;
    }

    &::before {
      @include fa('\f068', .9rem, 1, false);
      color: lighten($secondary-color, 10%);
      line-height: 1.563rem;

      @media screen and (min-width: $mobile-menu-breakpoint) {
        font-size: 1.3rem;
      }
    }
  }

  .place__content {
    padding: .875rem;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      padding: 1.875rem 2.5rem;
    }

    .field--label-inline {
      .field__label,
      .field__items,
      .field__item {
        display: inline;
        float: none;
        margin: 0;
        padding: 0;
        width: auto;
      }
    }

    .field--label-above {
      @media screen and (min-width: $mobile-menu-breakpoint) {
        overflow: hidden;
      }

      .field__label {
        @media screen and (min-width: $mobile-menu-breakpoint) {
          float: left;
          margin: 0;
          padding: 0;
          width: auto;
        }
      }
      .field__items {
        @media screen and (min-width: $mobile-menu-breakpoint) {
          float: left;
        }
      }
    }

    .field--name-field-description {
      margin-bottom: 1.25rem;
    }

    .field--name-field-address-visiting {
      .street-block,
      .street-block > *,
      .locality-block {
        display: inline;
      }

      .street-block {
        &::after {
          content: ", ";
        }
      }
    }
  }

  .place__link {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    display: inline-block;
    font-family: $bergen-mono;
    font-size: .875rem;
    margin-top: .313rem;
    padding: .625rem .875rem;
    text-transform: uppercase;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      font-size: 1.4rem;
      margin-top: 1.25rem;
    }

    &::after {
      @include fa('\f105', 1.1rem, 1, false);
      margin-left: .938rem;

      @media screen and (min-width: $mobile-menu-breakpoint) {
        font-size: 1.75rem;
      }
    }

    &:hover,
    &:focus {
      background-color: $secondary-color;
      color: $white;
    }
  }
}
