$sparkup-font-family: 'norwesterregular', 'Impact', sans-serif;
$sparkup-font-scale: 1.2;

$sparkup-green-dark: #72A124;
$sparkup-green: rgb(141, 190, 63);
$sparkup-yellow: rgb(255, 242, 65);
$sparkup-orange: rgb(248, 162, 64);
$sparkup-gray: #FBF3E4;


.color-palette--sparkup_green.color-palette--sparkup_green {
  $font-size-h1: $font-size-h1 * $sparkup-font-scale;
  $font-size-h2: $font-size-h2 * $sparkup-font-scale;
  $font-size-h3: $font-size-h3 * $sparkup-font-scale;

  h1,
  h2,
  h3 {
    font-family: $sparkup-font-family;

    a {
      color: map-get($color-palette--sparkup, 'color-scheme');
    }
  }

  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: 400;
  }

  h3 {
    font-size: $font-size-h3;
    font-weight: 400;
  }

  &.front .l-page > .l-highlighted {
    background: transparent !important; // @TODO technical debt
  }

  .l-main-wrapper {
    background: transparent;
  }

  .l-before-content {
    background-color: $navigation-bg;
    background-image: none;
  }

  // Header
  .l-before-header {
    background-color: map-get($color-palette--sparkup, 'color-scheme');
  }

  .l-branding {
    @include breakpoint($mobi-navi) {
      background-color: map-get($color-palette--sparkup, 'color-scheme');
    }
  }

  &.theme-front .l-navigation,
  &.has-main-image .l-navigation {
    background-color: map-get($color-palette--sparkup, 'color-scheme');

    @include breakpoint($mobi-navi) {
      background-color: $navigation-bg;
    }
  }

  .section-title {
    display: none;
  }

  .liftup-box {
    a {
      color: #fff;
    }
  }

  .liftup-box__quote {
    &:before {
      color: #fff;
    }
  }

  .liftup-box__author {
    background-color: map-get($color-palette--sparkup, 'color-scheme');
    background-image: image-url('sparkup-tile-large.png');
    background-position: top center;
    background-size: 146px auto;
    border-top: 1px solid #fff;
  }

  .liftup-box__author-label {
    color: #fff;
  }

  .liftup-box__caption {
    bottom: 0;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 1em 0.5em;
    text-transform: uppercase;
    width: auto;
  }

  .l-region--sidebar-second {
    .liftup-box__title {
      font-family: $sparkup-font-family;
      font-size: $font-size-h2 * $sparkup-font-scale;
      margin: 0;

      a {
        color: map-get($color-palette--sparkup, 'color-scheme');
      }
    }
  }

  .liftup-box--wide {
    .liftup-box__title {
      font-size: 2 * $font-size-h2;
      margin: 0.25em 0 0.5em;
    }

    .liftup-box__link a {
      line-height: 2;
    }

    .liftup-box__caption {
      font-family: $sparkup-font-family;
      font-size: 1.75em;
      width: 100%;
    }

    &:nth-child(2) {
      .liftup-box__title {
        color: map-get($color-palette--sparkup, 'color-scheme');

        > a {
          color: map-get($color-palette--sparkup, 'color-scheme');
        }
      }

      .liftup-box__caption {
        background-color: rgba(map-get($color-palette--sparkup, 'color-scheme'), 0.9) !important; // @TODO technical debt
        color: #fff;
      }
    }
  }

  .liftup-box--responsive {
    background-color: map-get($color-palette--sparkup, 'color-scheme') !important; // @TODO technical debt
    color: #fff;

    .liftup-box__date {
      color: #fff;
    }

    .liftup-box__title {
      font-size: 1.6em;
      color: #fff;

      > a {
        color: #fff;
      }
    }
  }

  .liftup-box--social {
    .top {
      border-color: #fff;
    }

    .share-caption {
      color: #fff;
    }
  }

  .main-liftup-box {
    box-shadow: 0 1em 1em -1em $body-font-color;
  }

  .main-liftup-box-2 .main-liftup-box__title {
    margin: 0.5em 0;
  }

  .main-liftup-box-4 .main-liftup-box__title {
    font-size: 1.111 * $font-size-h2;
    margin: 0.25em 0 0.5em;

    @include breakpoint($desk) {
      font-size: 1.333 * $font-size-h2;
    }

    @include breakpoint($desk) {
      font-size: 2 * $font-size-h2;
    }
  }

  .main-liftup-box__caption {
    bottom: 0;
    color: #fff;
    padding: 1em 2em 3em;
    width: 100%;

    @include breakpoint($small-desk) {
      padding-bottom: 1.5em;
    }
  }

  // Flexslider
  .l-header .flexslider .flex-caption {
    @include breakpoint($small-desk) {
      background-color: map-get($color-palette--sparkup, 'color-scheme');
    }
  }

  .flexslider {
    .flex-caption-wrapper {
      @include breakpoint($mobi-navi) {
        bottom: 5%;
      }
    }

    .flex-control-nav-container {
      @include breakpoint($mobi-navi) {
        bottom: 5%;
      }
    }

    .flex-direction-nav {
      @include breakpoint($tab) {
        padding-right: 0.25em;
      }
    }

    .flex-caption {
      border-color: map-get($color-palette--sparkup, 'color-scheme');

      .flex-caption__title {
        font-size: 1.8em * $sparkup-font-scale;

        @include breakpoint($small-desk) {
          font-size: 2em * $sparkup-font-scale;
        }

        @include breakpoint($desk) {
          font-size: 2.5em * $sparkup-font-scale;
        }
      }
    }
  }

  .recommended-block {
    @include breakpoint($small-desk) {
      bottom: 5%;
    }

    .recommended-block__content {
      @include breakpoint($mobi-navi) {
        background-color: map-get($color-palette--sparkup, 'color-scheme');
      }
    }
  }

  .quicktabs-wrapper .quicktabs-tabs > li {
    > a {
      color: map-get($color-palette--sparkup, 'color-scheme');
      font-family: $sparkup-font-family;
      font-size: 1.75em;

      &:hover {
        color: #fff;
      }
    }

    &.active > a {
      color: #fff;
    }
  }
}
