/*******************************************************************************
 * turkucalendar-front.layout.scss
 *
 * Layout built with Singularity.
 ******************************************************************************/

// Import external libraries.
// @import "compass";
// @import "breakpoint";
// @import "singularitygs";
// @import "toolkit";

// // Globbing from within sub-folders only works with relative paths.
// @import "../../abstractions/**/*";
// @import "../../variables/**/*";

@charset 'UTF-8';

@import 'lib/variables/*';
@import 'lib/mixins/*';

body {
  background: $turkucalendar-subfooter-background;
}

.l-header {
  background: transparent;
}

.l-navigation-top {
  @include in-front-of-header;
  display: block;
  position: relative;
  width: 100%;
}

.l-branding {
  @include branding-in-front-of-header;
  position: relative;
}

.l-custom-navigation {
  @media screen and (min-width: $desktop-narrow) {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
  }
}

.l-region--top-carousel {
  background-color: $turkucalendar-background;

  @media screen and (min-width: $desktop) {
  }
}

.l-region--top-tabs {
  display: none;

  @media screen and (min-width: $desktop) {
    //@include grid-span(4,9);
    display: block;
  }
}

.l-filters {
  @include in-front-of-header;
  background-color: $turkucalendar-content-wrapper-background;
  padding-top: 15px;
  position: relative;

  @media screen and (min-width: $mobile-landscape-wide) {
    background-color: $turkucalendar-filter-background;
    margin-top: 100px;
    padding-top: 0;
  }

}

.l-region--filters {
  @include clearfix();
  background-color: $turkucalendar-filter-background;
  margin: 0 auto;
  max-width: 1112px;

  @media screen and (min-width: $mobile-landscape-wide) {
    position: relative;
    top: -60px;
  }
}

.l-main-wrapper {
  @include content-in-front-of-header;
  background-color: $turkucalendar-content-wrapper-background;
  clear: both;
  overflow: hidden;
  padding: 2em 0;
  position: relative;
}

.l-main {
  @include clearfix();
  padding-bottom: 1em;
}

.l-content {
  @include clearfix();
  background-color: $turkucalendar-content-background;
  padding: 0 !important;

  @media screen and (min-width: $tablet-portrait) {
  }
}

.l-region,
.l-content {

  @media screen and (min-width: $tablet-portrait) {
    margin: 0 auto;
  }
}

.l-highlights .l-region {
  margin: 0;
}

.l-navigation-top,
.l-highlights,
.l-branding-wrapper,
.l-header-top .l-navigation {
  @media screen and (min-width: $desktop-narrow) {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
    padding: 8px;
  }
}

.l-highlights {
  @include clearfix;
  @include in-front-of-header;
  margin: 1em auto;
  position: relative;

  @media screen and (min-width: $desktop-narrow) {
    margin: 2em auto;
  }
}

.l-footer {
  @include content-in-front-of-header;
  background: $turkucalendar-footer-background;

  .l-after-footer-wrapper {
    background: $turkucalendar-subfooter-background;
  }
}


.l-main,
.l-footer .l-region {
  @media screen and (min-width: $tablet-portrait) {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
    padding: 8px;
  }
}
