// Override default coloring with crisis page background color
body.crisis-site {
  background-color: $crisis-bg;

  .liftup-box--wide:nth-child(1),
  .liftup-box--wide:nth-child(1) .liftup-box__caption,
  .main-liftup-box__caption,
  .caption,
  .header-list__item-link,
  .liftup-box__caption,
  .l-footer,
  .l-footer .l-region--footer {
    background-color: $crisis-bg;
  }

  .liftup-box--wide:nth-child(1) .liftup-box__group-right::after {
    border-right-color: $crisis-bg;
  }

  .liftup-box.node,
  .main-liftup-box {
    border-bottom-color: $crisis-bg;
  }

  // Crisis site won't have top menu so the search and text size adjuster should be on the middle, not on the bottom
  .l-navigation-top {
    vertical-align: middle;
  }

  // Crisis page won't have slide shows so there is no need for space on the front page for it
  .l-header {
    height: auto;
    padding-bottom: 0;
  }

  // Main content area doesn't have padding on the bottom and since most of the pages in crisis site will have only
  // normal content there should be padding on the bottom of the main content area.
  &.not-front .l-main {
    padding-bottom: 3em;
  }
}