/*******************************************************************************
 * kada-front.layout.scss
 *
 * Layout built with Susy 2.
 ******************************************************************************/

@charset 'UTF-8';

@import '../../bower_components/susy/sass/susy';

@import 'lib/variables/*';
@import 'lib/mixins/*';

// In mobile size these areas need to be positioned absolutely above the slider. Slider's size changes according to the
// caption field's content since the caption field is not over the image but under it on small screens.
// .l-branding,
// .l-navigation {
//   // @include in-front-of-header;
//   // left: 0;
//   // position: relative;
//   // top: 0;

//   // @media screen and (min-width: $desktop-narrow) {
//   //   left: auto;
//   //   position: relative;
//   //   top: auto;
//   // }
// }

.l-before-header {
  @include in-front-of-header;
  position: relative;
}

.l-branding {
  @include branding-in-front-of-header;
}

.l-navigation {
  @include in-front-of-header;
  //background-color: $header-overlay-bg;
  // padding: 13px 0;
  //width: 100%;

  // @media screen and (min-width: $desktop-narrow) {
  //   background-color: $navigation-bg;
  //   padding: 0;
  // }
}

.l-before-content,
.l-main-wrapper {
  background: url('../../../images/bg_pattern.png') repeat 0 0 $after-content-bg;
  clear: both;
  overflow: hidden;
}

.l-after-content {
  background: none 0 0 $darker-gray;
}

.l-main {
  @include clearfix();
  background-color: $after-content-bg;
}

// .l-highlighted .l-region,
// .l-main,
// .l-before-content .l-region,
// .l-after-content .l-region,
// .l-footer .l-footer-content {
//   @media screen and (min-width: $tablet-portrait) {
//     float: none;
//     margin: 0 auto;
//     max-width: 1320px;
//   }
// }

// Highlighted area works as the container for breadcrumb etc on sub-pages so the background color is defined here
.l-highlighted {
  background-color: $highlighted-bg;
}

.l-region--sidebar-first {
  @media screen and (min-width: $tablet-portrait) {
    @include span(3);
    padding-left: $gutters * 2;
  }
}

.l-region--sidebar-second {
  @media screen and (min-width: $tablet-portrait) {
    @include span(last 3);
    padding-right: $gutters * 2;
  }
}

.l-page {
  &.has-one-sidebar.has-sidebar-first {
    .l-content {
      @media screen and (min-width: $tablet-portrait) {
        @include span(last 9);
        padding: 0 $gutters * 2 0 0;
      }
    }
  }
  &.has-one-sidebar.has-sidebar-second {
    .l-content {
      @media screen and (min-width: $tablet-portrait) {
        @include span(9);
        padding: 0 0 0 $gutters * 2;
      }
    }
  }
  &.has-two-sidebars {
    .l-content {
      @media screen and (min-width: $tablet-portrait) {
        @include span(6);
        padding: 0;
      }
    }
  }
}
