.attraction .page__contact_details {
  .page__contact_details__header {
    background-color: $red;
    color: $white;
    text-align: center;
    padding: 1.25rem 0.5rem;
    font-weight: normal;
  }
}
