.block--kada-news-feature-news-archive-link {
  .block__content {
    display: flex;
  }

  a {
    color: $gray;
    display: block;
    font-family: $bergen-mono;
    height: auto;
    line-height: 1.3;
    text-transform: uppercase;
    //width: auto;
  }
}

.l-region--after-content .block--kada-news-feature-news-archive-link,
.l-region--before-content .block--kada-news-feature-news-archive-link {
  margin-top: 2.125rem;

  @media screen and (min-width: $container) {
    margin-top: 1rem;
  }

  .block__content {
    @media screen and (min-width: $container) {
      justify-content: right;
    }
    justify-content: center;
  }

  a {
    border: .063rem solid $gray;
    font-size: 1.125rem;
    padding: .625rem 1.563rem;

    &:hover,
    &:focus {
      background-color: $gray;
      color: $white;
    }
  }
}

.l-region--after-content .block--kada-news-feature-news-archive-link {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding-bottom: 1.25rem;

  .block__content {
    @media screen and (min-width: $container) {
      justify-content: flex-start;
    }
  }

  a {
    font-size: .9rem;

    &:hover,
    &:focus {
      color: $black;
    }
  }
}