.block--kada-news-feature-news-archive-link {
  margin: 2.125rem auto 0 auto;

  .l-region--after-content & {
    max-width: 90rem;
  }

  .block__content {
    display: flex;
    justify-content: center;

    a {
      color: $white;
      background-color: $secondary-color;
      display: block;
      font-family: $bergen-mono;
      height: auto;
      line-height: 1.3;
      text-transform: uppercase;
      font-size: 1.125rem;
      padding: .625rem 1.563rem;
      &:hover,
      &:focus {
        background-color: $black;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    margin-top: 1rem;

    .block__content {
      .l-region--before-content &,
      .section--content &,
      .page-node &{
        justify-content: flex-end;
      }
      .l-region--after-content & {
        justify-content: flex-start;
      }
    }
  }
}
