.block--kada-news-feature-news-archive-link {
  margin-top: 3.125rem;

  @media screen and (min-width: $container) {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .block__content {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $container) {
      display: block;
    }
  }

  a {
    border: .063rem solid $gray;
    color: $gray;
    display: block;
    font-family: $bergen-mono;
    font-size: 1.125rem;
    height: auto;
    line-height: 1.3;
    padding: .625rem 1.563rem;
    text-transform: uppercase;
    width: auto;

    &:hover,
    &:focus {
      background-color: $gray;
      color: $white;
    }
  }
}
