.l-region--branding {
  .main-search {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;

    @media screen and (max-width: $mobile-menu-breakpoint - $max-width-deduction) {
      border-left: 1px solid $gray-light;
      font-size: 1.1rem;
      line-height: 3.125rem;
      height: 3.125rem;
      width: 4.075rem;
    }

    .views-exposed-widgets {
      align-items: center;
      display: flex;
      margin: 0;
    }
  }

  .views-exposed-form .views-exposed-widget.main-search--wrapper {
    height: 3.125rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 15rem;

    @media screen and (max-width: $mobile-landscape-narrow) {
      width: 10.85rem;
    }

    @media screen and (min-width: $mobile-menu-breakpoint) {
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  .main-search__search-field {
    display: none;

    &.is-active {
      background: $white;
      border-left: 1px solid $gray-light;
      display: block;
      padding: 0 .5rem;

    }

    @media screen and (min-width: $mobile-menu-breakpoint) {
      background: $white;
      border-left: 1px solid $gray-light;
      display: block;
      padding: 0 .5rem;
    }
    @media screen and (min-width: $mobile-menu-breakpoint) {
      border-left: 0;
      padding: .5rem .5rem 0 .5rem;
    }

    .form-autocomplete,
    .form-text {
      background: none;
      border-bottom: 2px solid $black;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      font-size: 1rem;
      line-height: 1.95rem;
      padding-left: .25rem;
      padding-right: 1.875rem;
      width: 100%;

      @media screen and (min-width: $mobile-menu-breakpoint) {
        width: 15.625rem;
      }
    }
  }

  .views-exposed-widget.main-search__search-button {
    background-color: transparent;
    border: 0;
    content: "";
    display: none;
    font-size: 0;
    height: 1.863rem;
    margin: 0 (-1.863rem / 2) 0 0;
    position: absolute;
    right: 50%;
    top: .67rem;
    width: 1.863rem;
    z-index: 1;
    @media screen and (min-width: $mobile-menu-breakpoint) {
      display: block;
    }
    @media screen and (max-width: $mobile-landscape-narrow) {
      right: .988rem;
    }

    @media screen and (min-width: $mobile-menu-breakpoint) {
      margin: (-1.863rem / 2) 0 0 0;
      right: .5rem;
      top: 50%;
    }

    &.is-active {
      display: block;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &::before {
      @include fa('\f002', 1.55rem, 1, false);
      color: $black;
      display: block;
      height: 1.863rem;
      line-height: 1.65rem;
      text-align: center;
      width: 1.863rem;
      z-index: 2;

      @media screen and (max-width: $mobile-landscape-narrow) {
        right: .988rem;
      }
    }

    .form-autocomplete,
    .form-submit {
      background: transparent;
      border: 0;
      height: 1.863rem;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.863rem;
    }
  }

  .main-search__search-button--toggler {
    background-color: transparent;
    border: 0;
    content: "";
    display: none;
    font-size: 0;
    height: 1.863rem;
    margin: 0 (-1.863rem / 2) 0 0;
    position: absolute;
    right: 50%;
    top: .67rem;
    width: 1.863rem;
    z-index: 1;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      top: 50%;
      margin: (-1.863rem / 2) .5rem 0 0;
    }

    &.is-active {
      display: block;
      @media screen and (min-width: $mobile-menu-breakpoint) {
        display: none;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &::before {
      @include fa('\f002', 1.55rem, 1, false);
      color: $black;
      display: block;
      height: 1.863rem;
      line-height: 1.65rem;
      text-align: center;
      width: 1.863rem;
      z-index: 2;

      @media screen and (max-width: $mobile-landscape-narrow) {
        right: 1.288rem;
      }
    }
  }
}
