.liftup-box-list {
  margin: 2%;

  @media screen and (min-width: $tablet-portrait) {
    margin: 3em 0;
  }
}

// .liftup-box-list--topic-list {
//   @media screen and (min-width: $mobile-landscape-wide) {
//     margin: 0 (-$distance-from-items-tab);
//   }

//   @media screen and (min-width: $tablet-portrait) {
//     margin: 0 (-$distance-from-items-tablet-portrait);
//   }

//   @media screen and (min-width: 1400px) {
//     margin: 0 (-$distance-from-items1400px);
//   }
// }

.front,
.theme-front {
  .liftup-box-list--topic-list {
    margin: 2%;

    @media screen and (min-width: $tablet-portrait) {
      margin: 3em 0;
    }
  }
}

.liftup-box {
  background-color: $turku-white;
  color: $liftup-color;
  margin: $gutters;
  padding: 20px 20px 10px;
  position: relative;

  &.node {
    border-bottom: 4px solid $turku-blue;
    padding: 20px 20px 10px;
    min-width: 96%;

    @media screen and (min-width: $mobile-landscape-wide) {
      min-width: 0;
    }

    figure {
      //Override the node figure styles
      line-height: 0;
      margin: 0;
    }
  }
}

.liftup-box__header {
  line-height: 0;
  margin: -20px -20px 20px;
  position: relative;

  img {
    width: 100%;
  }
}

.liftup-box__image {
  line-height: 0;
  margin: 0;
  text-align: center;

  img {
    width: 100%;
  }
}

/* Social media images should not upscale */
.node--social-media-update--current img {
  width: auto;
  max-width: 100%;
}

.liftup-box__caption {
  @extend .caption;
  bottom: 10px;
  left: 0;
  position: absolute;
  width: 70%;

  a {
    color: #fff;
    display: block;
  }
}

.liftup-box__date {
  font-size: 0.857em;
  color: #949494;
  font-style: italic;
}

.liftup-box__title {
  font-size: 1.143em;
  color: $liftup-color;
  font-weight: bold;
  margin: 0 0 1em;
}

.liftup-box__content {
  margin-bottom: 1em;
}

.liftup-box__vignette {
  font-size: 0.8em;
  text-transform: uppercase;
}

.liftup-box__link {
  overflow: hidden;

  a {
    @extend .button--arrow;
    color: $turku-white;
    float: left;
    font-size: 0.9em;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.liftup-box--responsive {
  margin: 2%;
  // @media screen and (min-width: $mobile-landscape-wide) {
  //   margin: $distance-from-items-tab;
  //   width: (100% - ($distance-from-items-tab * 4)) / 2;
  // }

  // @media screen and (min-width: $tablet-portrait) {
  //   margin: $distance-from-items-tablet-portrait;
  //   width: (100% - ($distance-from-items-tablet-portrait * 6)) / 3;
  // }

  // @media screen and (min-width: 1400px) {
  //   margin: $distance-from-items1400px;
  //   width: (100% - ($distance-from-items1400px * 8)) / 4;
  // }
}

.liftup-box.node-teaser {
  margin: $gutters 0 2em;
}

.liftup-box--half-img {
  border-bottom: 1px solid $turku-blue;
  margin: 0 0 1em;
  padding: 0 0 1em;

  &.has-image {
    > * {
      margin-left: 35%;
      margin-right: -100%;
      width: 65%;
    }

    .liftup-box__image {
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 33%;

      figcaption {
        display: none;
      }
    }
  }

  .liftup-box__title {
    margin-bottom: 0.5em;
  }
}


/* Project liftups */
.liftup-box--wide {
  background-color: $turku-blue;
  border-bottom: none;
  color: rgba($turku-white, 1);
  margin: 0;
  padding: 0;

  .node {
    max-width: 1320px;
    margin: 0 auto;
  }

  .liftup-box__caption {
    background-color: rgba($turku-blue, 1);
    bottom: 20px;
    color: $turku-white;
    max-width: 50%;
    width: auto;

    @media screen and (min-width: $tablet-portrait) {
      @include font-size(15px);
      left: auto;
      right: 0;
    }
  }

  .liftup-box__title {
    color: $turku-white;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .liftup-box__group-right {
    float: none;
    position: relative;
    width: 100%;

    @media screen and (min-width: $tablet-portrait) {
      float: left;
      width: 50%;
    }

    // @media screen and (min-width: 1400px) {
    //   margin-left: $distance-from-items1400px;
    //   width: 50% - $distance-from-items1400px;
    // }

    &:after {
      @include arrow-down($turku-blue);

      @media screen and (min-width: $tablet-portrait) {
        @include arrow-left($turku-blue);
      }
    }
  }

  .liftup-box__group-left {
    float: none;
    padding: 2em;
    width: 100%;

    @media screen and (min-width: $tablet-portrait) {
      float: right;
      width: 50%;
    }

    // @media screen and (min-width: 1400px) {
    //   margin-right: $distance-from-items1400px;
    //   width: 50% - $distance-from-items1400px;
    // }
  }

  &:nth-child(2) {
    background-color: $turku-white;
    color: rgba($turku-black, 0.7);

    .liftup-box__title {
      color: $turku-black;
    }

    .liftup-box__caption {
      background-color: rgba($turku-white, 1);
      color: $body-font-color;
      left: 0;
      max-width: 50%;
      right: auto;
      width: auto;
    }

    .liftup-box__group-right {
      @media screen and (min-width: 1400px) {
        margin-left: 0;
        //margin-right: $distance-from-items1400px;
      }

      &:after {
        @include arrow-down($turku-white);

        @media screen and (min-width: $tablet-portrait) {
          @include arrow-right($turku-white);
        }
      }
    }

    .liftup-box__group-left {
      @media screen and (min-width: $tablet-portrait) {
        float: left;
      }

      @media screen and (min-width: 1400px) {
        margin-right: 0;
        //margin-left: $distance-from-items1400px;
      }
    }
  }
}


/* Blog liftups */
.liftup-box--blog-post {

  &.node {
    padding-bottom: 0;
  }

  .liftup-box__content {
    margin-bottom: 0;
  }
}

.liftup-box__quote {
  font-weight: normal;
  margin: 10px 0 20px;
  padding: 10px 0 10px 35px;
  position: relative;

  &:before {
    color: $blockquote-border-color;
    content: "â€";
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 100px;
    left: -2px;
    position: absolute;
    top: -15px;
  }
  a {
    @include font-size(22px);
  }
}

.liftup-box__author {
  background-color: rgba(0, 0, 0, 0.04);
  border-top: 1px solid $light-blue;
  margin: 0 -20px;
  padding: 20px;

  .liftup-box__author-label {
    color: #949494;
    font-size: 0.875em;
    font-style: italic;
  }

  h3 {
    margin:5px 0 0;
  }
}


/* Social media liftups */
.liftup-box--social {
  @include font-size(14px);
  &.node {
    border-bottom: none;
    max-width: 96%;
    padding: 10px 20px 20px;
  }

  &.some-type-twitter {
    background-color: $twitter-blue;
    color: $turku-white;

    .top {
      border-bottom: 1px solid $light-blue;

      .some-id {
        // @extend .icon;
        // @include icon-twitter;
        color: transparent;
        font-size: 1px;
        letter-spacing: -1px;
        height: 35px;
        text-indent: 0;
        width: 35px;

        &:before {
          color: #FFFFFF;
          font-size: 35px;
          line-height: 35px;
        }

        .date {
          margin-left: 20px;
        }
      }
    }
  }

  &.some-type-facebook {
    background-color: $light-gray;

    .top {
      border-bottom: 1px solid $dark-gray;

      .some-id {
        // @extend .icon;
        // @include icon-facebook-box;
        color: transparent;
        font-size: 1px;
        letter-spacing: -1px;
        height: 35px;
        position: relative;
        text-indent: 0;
        width: 35px;

        &:before {
          color: #3c5a99;
          font-size: 35px;
          line-height: 35px;
          position: relative;
          z-index: 2;
        }

        &:after {
          background-color: #FFFFFF;
          bottom: 1px;
          content: "";
          display: block;
          height: 30px;
          position: absolute;
          right: 5px;
          width: 20px;
          z-index: 1;
        }

        .date {
          margin-left: 20px;
        }
      }
    }
  }

  &.some-type-instagram {
    padding: 10px 20px 0;
    .top {
       border-bottom: 1px solid $dark-gray;

       .some-id {
         // @extend .icon;
         // @include icon-instagram;
         color: transparent;
         font-size: 1px;
         letter-spacing: -1px;
         height: 35px;
         text-indent: 0;
         width: 35px;

         &:before {
           color: #696969;
           font-size: 35px;
           line-height: 35px;
         }

         .date {
           margin-left: 20px;
         }
       }
     }

    .body {
      font-weight: bold;
    }

    .liftup-box__image {
      margin: 10px -20px 0;

      img {
        display: block;
        line-height: 0;
        width: 100%;
      }
    }
  }

  &.some-type-linkedin {
    .top {
      border-bottom: 1px solid $dark-gray;

      .some-id {
        // @extend .icon;
        // @include icon-linkedin-box;
        color: transparent;
        font-size: 1px;
        letter-spacing: -1px;
        height: 35px;
        position: relative;
        text-indent: 0;
        width: 35px;

        &:before {
          color: #3c5a99;
          font-size: 35px;
          line-height: 35px;
          position: relative;
          z-index: 2;
        }

        &:after {
          background-color: #FFFFFF;
          bottom: 2px;
          content: "";
          display: block;
          height: 30px;
          position: absolute;
          right: 5px;
          width: 24px;
          z-index: 1;
        }

        .date {
          margin-left: 20px;
        }
      }
    }

    .share-title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  &.some-type-youtube {
    .top {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-bottom: 12px;

      .some-id {
        // @extend .icon;
        // @include icon-youtube;
        color: transparent;
        font-size: 1px;
        letter-spacing: -1px;
        height: 35px;
        position: relative;
        text-indent: 0;
        width: 65px;

        &:before {
          color: #000;
          font-size: 35px;
          line-height: 33px;
          position: relative;
          z-index: 2;
        }

        .date {
          margin-left: 20px;
        }
      }
    }

    .share-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .liftup-box__image a {
      // @extend .icon;
      //@include icon-youtube-play;
      display: block;
      position: relative;

      &:before {
        //@include translateY(-50%);
        color: #e52d27;
        font-size: 50px;
        left: 50%;
        margin-left: -29px;
        position: absolute;
        top: 50%;
        z-index: 100;
      }

      &:after {
        //@include translateY(-50%);
        background-color: #ffffff;
        content: "";
        display: block;
        height: 30px;
        margin-right: -20px;
        position: absolute;
        right: 50%;
        top: 50%;
        width: 40px;
        z-index: 99;
      }
    }

    > .body {
      font-size: 0.9em;
    }
  }

  .top {
    margin: 0px -20px 20px;
    padding: 0 20px 10px;
    background-size: 29px;
    background-repeat: no-repeat;
    background-position: 20px top;

    .some-id {
      //@include hide-text('left');
      display: inline-block;
      height: 0;
    }

    .date {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .liftup-box__image {
    margin: 10px -10px -10px;
  }

  .body {
    word-wrap: break-word;
  }

  .share-title {
    font-weight: normal;
    margin-bottom: 0;
    word-wrap: break-word;
  }

  .share-caption {
    margin-bottom: 10px;
    color: #949494;
    font-size: 0.875em;
    font-style: italic;
  }
}

.liftup-box--topic {
  &.node {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;

    @media screen and (min-width: $mobile-landscape-wide) {
      margin: 1%;
      width: 48%;
    }

    // @media screen and (min-width: $tablet-portrait) {
    //   margin: $distance-from-items1400px;
    //   width: (100% - ($distance-from-items1400px * 4)) / 2;
    // }

    // @media screen and (min-width: 1400px) {
    //   margin: $distance-from-items-tablet-portrait;
    //   width: (100% - ($distance-from-items-tablet-portrait * 6)) / 3;
    // }
  }

  .liftup-box__image {
    line-height: 0;
  }
}

// .has-one-sidebar {
//   .liftup-box--topic {
//     &.node {
//       @media screen and (min-width: 1400px) {
//         margin: $distance-from-items-tablet-portrait;
//         width: (100% - ($distance-from-items-tablet-portrait * 6)) / 3;
//       }
//     }
//   }
// }

.has-two-sidebars {
  .liftup-box-list--topic-list {
    @media screen and (min-width: 1400px) {
      margin: 0 -1%;
    }
  }

  .liftup-box--topic {
    &.node {
      @media screen and (min-width: 1400px) {
        margin: 1%;
        width: 48%;
      }
    }
  }
}

// Taxonomy item listings use teasers by default and therefore get rendered
// as liftup-box--topic. Changing this behavior is not exactly trivial.
.liftup-box--topic.node--service {
  a {
    color: $turku-white;
  }

  .liftup-box__caption {
    position: static;
    width: 100%;
  }
}
