.mosaic {
  overflow: hidden;
  position: relative;
  z-index: 2;

  .grid-item {
    // @include layout(24, $gutter: 0) {
    //   @include float-span(24);

    //   @media screen and (min-width: $mobile-landscape-wide) {
    //     @include float-span(12);
    //   }

    //   @media screen and (min-width: $tablet-portrait) {
    //     @include float-span(8);
    //   }

    //   @media screen and (min-width: $desktop-narrow) {
    //     @include float-span(12);
    //   }

    //   @media screen and (min-width: $desktop) {
    //     @include float-span(8);
    //   }
    // }
    color: $turkucalendar-white;
    cursor: pointer;
    font-size: 16px;

    a {
      color: $turkucalendar-white;

      &:hover {
        text-decoration: none;
      }
    }

    .event__buy-link {
      @extend .button--buy-link;
      left: 10px;
      line-height: 1em;
      position: absolute;
      top: 10px;
      z-index: 4;
      a {
        font-size: 1em;
      }
    }

    .event__link {
      background-color: rgba($turkucalendar-fade, 0.7);
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }

    &:hover .event__link {
      opacity: 1;
      transition: opacity 0.3s ease-out;
    }

    // this styles the read more text that appears on hover
    .event__link a {
      display: block;
      font-weight: 300;
      height: 100%;
      left: 0;
      line-height: 0;
      position: absolute;
      top: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      z-index: 3;

      // position the read more text vertically
      &:before {
        content: " ";
        display: block;
        height: 0;
        padding-bottom: 50%;
      }

      // displays the bordered box around the read more hover
      &:after {
        content: " ";
        border: 1px solid $turkucalendar-white;
        display: block;
        height: 2.5em;
        left: 50%;
        margin-left: -30%;
        margin-top: -1.25em;
        position: absolute;
        top: 50%;
        width: 60%;
        border-radius: 2px;
      }
    }

    .event__date {
      background-color: rgba($turku-blue, 0.9);
      display: inline-block;
      font-weight: 300;
      max-width: 80%;
      padding: 5px 15px 5px 5px;

      @media screen and (min-width: $mobile-portrait) {
        padding: 5px 10px 5px 10px;
      }

      @media screen and (min-width: $tablet-portrait) {
        padding: 5px 10px 5px 15px;
      }

      > .event__date {
        padding: 0;
      }
    }

    .event__sold-out {
      //@extend %grid-tag-left;
      background-color: $turkucalendar-grid-sold-out-tag-background;
    }

    .event__sponsored {
      //@extend %grid-tag-right;
      background-color: $turkucalendar-grid-sponsored-tag-background;
    }

    .event__title {
      padding: 10px 10px 5px;

      @media screen and (min-width: $mobile-portrait) {
        padding: 15px 10px 10px;
      }

      @media screen and (min-width: $tablet-portrait) {
        padding: 15px 15px 10px;
      }
    }

    .grid-item__content {
      //@include user-select(none);
      z-index: 2;
    }

    .grid-item__content--bottom {
      //@include background(linear-gradient(to bottom, transparent, rgba($turkucalendar-fade, 0.7)));
    }
  }

  .mosaic__footer {
    clear: both;

    .mosaic__more-link {
      @extend .button;
      color: #FFFFFF;
      display: block;

      &:before {
        background-color: $turku-black;
        content: "";
        height: 100%;
        position: absolute;
        right: -30px;
        top: 0;
        width: 30px;
      }
    }
  }
}

.node-type-page {
  .has-two-sidebars {
    .mosaic {
      .grid-item {
        // @include layout(24, $gutter: 0) {
        //   @include float-span(24);

        //   @media screen and (min-width: $mobile-landscape-wide) {
        //     @include float-span(12);
        //   }
        // }

        @media screen and (min-width: $tablet-portrait) {
          font-size: 13px;
        }

        @media screen and (min-width: $desktop) {
          font-size: 16px;
        }
      }
    }
  }

  .has-one-sidebar {
    .mosaic {
      .grid-item {
        // @include layout(24, $gutter: 0) {
        //   @include float-span(24);

        //   @media screen and (min-width: $mobile-landscape-wide) {
        //     @include float-span(12);
        //   }

        //   @media screen and (min-width: $tablet-portrait) {
        //     @include float-span(8);
        //   }
        // }

        @media screen and (min-width: $tablet-portrait) {
          font-size: 13px;
        }

        @media screen and (min-width: $desktop) {
          font-size: 16px;
        }
      }
    }
  }
}


// Mosaic block title
.block--tkufi-widget-feature-widget-before-content {
  .block__title {
    background-color: #000;
    border-bottom: 0 none;
    color: #fff;
    margin: 20px 0 0;
    padding: 10px;
  }
}
