.pager {
  border-top: 1px solid $turku-gray;
  padding-top: 10px;

  .pager__item {
    display: inline-block;
    line-height: 2;
    padding: 0;

    a {
      @include font-size(12px);
      background-color: $turku-blue;
      color: #FFFFFF;
      padding: 5px 10px;
    }

    &.pager__item--current {
      font-weight: normal;
      padding: 5px 10px;
    }
  }
}
