// .recommended-block {
//   display: none;
//   left: 0;
//   position: absolute;
//   top: 60px; //Height of mobile navigation
//   width: 100%;
//   z-index: 10;

//   @media screen and (min-width: $desktop-narrow) {
//     bottom: 5%;
//     display: block;
//     left: 0;
//     margin: 0 auto;
//     max-width: 1320px;
//     position: absolute;
//     right: 0;
//     top: auto;
//     width: 100%;
//     z-index: 5;
//   }

//   @media screen and (min-width: 1400px) {
//     bottom: 15%;
//   }

//   .recommended-block__content {
//     box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
//     background-color: $mobile-navigation-color;
//     padding: 10px 15px 20px;

//     @media screen and (min-width: $desktop-narrow) {
//       box-shadow: none;
//       background-color: rgba(0, 55, 94, 0.7);
//       bottom: -4px;
//       color: #FFFFFF;
//       padding: 20px 15px 40px;
//       position: absolute;
//       right: 0.5%;
//       width: 24%;
//     }

//     @media screen and (min-width: 1400px) {
//       right: 0;
//     }

//     .recommended-block__title {
//       color: #FFFFFF;
//       font-size: 1.5em;
//       margin: 0 0 10px;

//       @media screen and (min-width: $desktop) {
//         font-size: 1.8em;
//       }
//     }

//     .recommended-block__close {
//       //@include icon-close;
//       background-color: transparent;
//       border: 0 none;
//       font-size: 0;
//       height: 30px;
//       line-height: 30px;
//       overflow: hidden;
//       padding: 0;
//       position: absolute;
//       right: 10px;
//       top: 10px;
//       width: 30px;

//       &:before {
//         color: #FFFFFF;
//         font-size: 30px;
//         height: 30px;
//         width: 30px;
//       }

//       @media screen and (min-width: $desktop-narrow) {
//         display: none;
//       }
//     }

//     .recommended-block__item {
//       display: block;
//       margin: 0 -15px;

//       a {
//         //@include icon-arrow-right;
//         border-top: 1px solid rgba(255, 255, 255, 0.3);
//         color: #ffffff;
//         display: block;
//         font-size: 1.1em;
//         margin: 0 15px;
//         overflow: hidden;
//         padding: 10px 30px 10px 5px;
//         position: relative;
//         text-transform: uppercase;

//         &:before {
//           color: #fff;
//           font-size: 26px;
//           line-height: 30px;
//           margin-top: -15px;
//           position: absolute;
//           right: 5px;
//           top: 50%;
//         }
//       }

//       &:last-child {
//         a {
//           border-bottom: 1px solid rgba(255, 255, 255, 0.3);
//         }
//       }

//       &:hover {
//         background-color: rgba(0, 0, 0, 0.13);
//       }
//     }
//   }
// }

.node-type-landing-page {
  .recommended-block {
    @media screen and (min-width: $desktop-narrow) {
      bottom: 0;
      top: 124px; // Height of the header
    }

    @media screen and (min-width: 1400px) {
      bottom: 0;
    }

    .recommended-block__content {
      @media screen and (min-width: $desktop-narrow) {
        bottom: auto;
        padding-bottom: 20px;
        padding-top: 10px;
        top: 5%;
      }

      .recommended-block__title {
        @media screen and (min-width: $tablet-portrait) {
          font-size: 1.5em;
        }

        @media screen and (min-width: $desktop) {
          font-size: 2em;
        }
      }

      .recommended-block__item {
        a {
          font-size: 1em;
        }
      }
    }
  }
}

.node-type-section {
  .recommended-block {
    top: 105px;

    @media screen and (min-width: $desktop-narrow) {
      top: auto;
    }
  }
}

.recommended-button {
  // border: 0 none;
  // display: inline-block;
  // height: 35px;
  // margin: 0 0.2em;
  // padding: 0;
  // vertical-align: middle;
  // width: 35px;

  // @media screen and (min-width: $mobile-landscape-wide) {
  //   height: 40px;
  //   width: 40px;
  // }

  // @media screen and (min-width: $desktop-narrow) {
  //   display: none;
  // }

  .recommended-button__inner {
    // border-radius: 0;
    // box-shadow: 0 0 0 transparent;
    // //@include icon-star;
    // background-color: $mobile-navigation-color;
    // border: none;
    // display: block;
    // float: right;
    // font-size: 0;
    // height: 35px;
    // overflow: hidden;
    // width: 35px;

    // @media screen and (min-width: $mobile-landscape-wide) {
    //   height: 40px;
    //   width: 40px;
    // }

    // &:before {
    //   color: #FFFFFF;
    //   font-size: 30px;
    //   line-height: 35px;

    //   @media screen and (min-width: $mobile-landscape-wide) {
    //     font-size: 35px;
    //     line-height: 40px;
    //   }
    // }
  }
}

// Fix for logged in users
.block--views-driveturku-recommended-block.contextual-links-region {
  position: static;
}
