.directory-header {
  background-color: #f9fafb;
  margin: 0 -16px;
  overflow: hidden;
  padding: 0 16px;

  @media screen and (min-width: $desktop) {
    overflow: visible;
  }

  > * {
    display: block;
    float: left;

    @media screen and (min-width: $desktop) {
      display: inline-block;
      float: none;
    }
  }

  a {
    background-color: $turku-blue;
    color: #FFFFFF;
    display: block;
    font-size: 1.143em;
    margin: 3px;
    width: 30px;
    padding: 5px 0;
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin: 0;
    }

    &.active {
      background-color: #FFFFFF;
      color: $turku-blue;
      position: relative;

      @media screen and (min-width: $desktop) {
        background-color: $turku-blue;
        color: #FFFFFF;
      }

      &:after {
        @media screen and (min-width: $desktop) {
          @include arrow-down($turku-blue);
          bottom: -15px;
          left: 50%;
          margin-left: -15px;
          right: auto;
          top: auto;
        }
      }
    }
  }
}

.directory-content {
  margin: 2em 0;

  .directory-item {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .directory-item__link {
      margin: 1em 0;
    }
  }
}
