.view-blog-posts {
  margin-bottom: 2em;
  .views-row {
    margin-bottom: 1.5em;
  }
  .views-row-last {
    margin-bottom: 0;
  }
}

.posts-from-other-blogs {
  .views-row {
    margin-bottom: 0.75em;
  }
}
