.block--tkufi-events-base-feature-eventsearch {
  display: inline-block;
  margin-bottom: 1em;
  white-space: nowrap;

  @media screen and (min-width: $mobile-landscape-wide) {
    text-align: center;
    margin-bottom: 0;
  }

  // we need a table-row to wrap table-cells nicely
  form > div {
    display: table-row;
    @media screen and (min-width: $mobile-landscape-wide) {
      display: block;
    }
  }

  .block__title {
    display: none;
  }

  .form-item {
    //@include icon-search;
    border-right: 4px solid transparent; // fake cell-padding
    color: $turku-white;
    display: table-cell;
    margin-bottom: 0;
    position: relative;
    width: auto;

    @media screen and (min-width: $mobile-landscape-wide) {
      border-right: 0;
      display: inline-block;
      width: 19em;
    }

    @media screen and (min-width: $tablet-portrait) {
      width: 20em;
    }

    &:before {
      bottom: 10px;
      font-size: 1.6em;
      left: 6px;
      position: absolute;
    }

    input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid rgba($light-gray, 0.8);
      color: $turku-white;
      line-height: 1.6;
      padding: 11px 16px 9px 36px;
      width: 100%;
      border-radius: 0;
      @include placeholder {
        color: rgba($turku-white, 0.8);
        font-style: italic;
      }

      &:focus {
        outline: none;
      }
    }

    label {
      display: none;
    }
  }

  .form-submit {
    background: transparent;
    border: 1px solid rgba($light-gray, 0.8);
    border-radius: 0;
    display: table-cell;
    margin-right: 0;
    padding: 9px 16px;
    vertical-align: middle;

    @media screen and (min-width: $mobile-landscape-wide) {
      display: inline-block;
    }
  }
}
