.block--facetapi {
  background: white;
  ul {
    margin: 0;
    padding-left: 0;
    padding-bottom: 20px;
    li {
      list-style-type: none;
      margin-top: 0.5rem;
    }
  }
  .block__title {
    font-weight: normal;
    font-size: 1rem;
    border: 0;
    padding: 25px 35px;
    color: black;
    position: relative;
    cursor: pointer;
    &:after {
      @include fa('\f067', .9rem, 1, false);
      color: white;
      background: black;
      border-radius: 12px;
      position: absolute;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      right: 30px;
      top: 50%;
      margin-top: -12px;
    }
  }
  a {
    color: black;
  }
  .block__content {
    display: none;
  }
  &.collapsed {
    background: $gray-lighter;
    .block__content {
      display: block;
    }
    .block__title {
      background: $blue;    
      color: white;  
      &:after {
        @include fa('\f068');
        background: white;
        color: $blue;
        line-height: 24px;
      }
    }
  }  
}

.facetapi-facet {
  margin-left: 35px;
}

.facet__title {
  text-transform: uppercase;
  font-family: $bergen-mono;
  font-size: 1rem;
}

.facet__count {
  display: none;
}

.facetapi-active {
  .element-invisible {
    display: inline !important;
    position: relative !important;
    padding: 0 1em;
    font-size: 14px;
    color: black;
  }
}

.facetapi-limit-link {
  display: block;
  text-align: center;
  padding: 20px 0;
}