.header-list {
  border-top: 1px solid $light-gray;
  clear: both;
  margin: 1em 0;
  padding: 1em 0 0;

  .header-list__item {
    margin: 0.5em 0;
    list-style: none;
    width: 53%;

    .header-list__item-link-wrapper {
      margin: 0;

      .header-list__item-link {
        color: #FFFFFF;
      }
    }
  }
}

.header-list__item-link {
  // @extend .caption;
  // @extend .general-header;
  // @include icon-angle-right;
  color: #FFFFFF;
  display: block;
  position: relative;
  padding-right: 40px;

  &:before {
    color: #FFFFFF;
    font-size: 34px;
    font-style: normal;
    height: 100%;
    line-height: 100%;
    margin-top: -17px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    width: 30px;
    z-index: 2;
  }

  &:after {
    background-color: lighten($turku-blue, 10);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }
}

.has-two-sidebars .header-list {
  .header-list__item {
    width: 100%;
  }
}
