a.liftup-link__secondary {
  color: $turku-white;
  padding: 20px 10px;
}

.field--name-field-liftup-secondary-link {
  position: absolute;
  top: 0;
  right: 0;

  .lineage-item,
  a {
    // @todo use color-theme?
    background-color: $turku-pink;
    color: $turku-white;
    display: block;
    padding: 10px 20px;
  }
}

.liftup-1-3x4-grid-item {
  width: 100%;
  float: left;
  @media screen and (min-width: $mobile-landscape-narrow) {
    width: 50%;
  }
  @media screen and (min-width: $desktop-narrow) {
    width: 25%;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* Adjusting grid used on pages. This grid can be used with sidebars */
.section-1-3x4-liftup.adjusting-grid {
  .liftup-1-3x4-grid-item {
    width : 100%;
    @media screen and (min-width: $mobile-portrait) {
      width : 100%;
    }
    @media screen and (min-width: $mobile-landscape-narrow) {
      width: 50%;
    }
    @media screen and (min-width: $desktop-narrow) {
      width: 25%;
    }
  }
}
.has-no-sidebars {
  .section-1-3x4-liftup.adjusting-grid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    .liftup-1-3x4-grid-item {
      float: left;
      @media screen and (min-width: $mobile-portrait) {
        width: 100%;
      }
      @media screen and (min-width: $mobile-landscape-narrow) {
        width: 50%;
      }
      @media screen and (min-width: $desktop-narrow) {
        width: 25%;
      }
    }
  }
}
.has-one-sidebar {
  .section-1-3x4-liftup.adjusting-grid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    .liftup-1-3x4-grid-item {
      padding-left: 0;
      padding-right: 0;
      width : 100%;
      @media screen and (min-width: $mobile-portrait) {
        width : 100%;
      }
      @media screen and (min-width: $mobile-landscape-narrow) {
        width: 50%;
      }
      @media screen and (min-width: $desktop-narrow) {
        width : 33.33%;
      }
    }
  }
}
.has-two-sidebars {
  .section-1-3x4-liftup.adjusting-grid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    .liftup-1-3x4-grid-item {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      @media screen and (min-width: $mobile-landscape-narrow) {
        width: 50%;
      }
      @media screen and (min-width: $tablet-portrait) {
        width: 100%;
      }
      @media screen and (min-width: $desktop-narrow) {
        width: 50%;
      }
    }
  }
}
/* Adjusting grid ends */
#block-views-89b484a51bf5cdc2db6af339b2d71883 {
  padding-top: 25px;
}
.liftup-1-3x4 {
  .field-collection-view {
    border-bottom: 0;
    margin: 0 .5em 0 .5em;
    padding: .5em 0 0.5em 0;
  }
}

.liftup-1-3x4__content {
  position: relative;
  > a {
    line-height: 0;
  }
}

.liftup-1-3x4__bottom {
  bottom: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  background-color: rgba($header-default, 0.8);
  .field--name-field-liftup-description-text {
    color: $turku-white;
  }
}
.field--name-field-liftup-main-link {
  a {
    color: $turku-white;
  }
}
.transparent-gradient__liftup {
  /* background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  background: transparent;
  bottom: 0;
  opacity: .8;
  position: absolute;
  height: 50%;
  width: 100%;
  .view-driveturku-widget-attraction-card-mosaic & {
    bottom: 5px;
  }
}

.liftup-1-3x4__title {
  margin-top: 0;
}

.view-driveturku-section-1-3x4-liftups {
  background-color: $turku-white;
  padding: 20px;
  margin-left: 1%;
  margin-right: 1%;
  @media screen and (min-width: $tablet-portrait) {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
