$post-date-color: $highlighted-bg;
$title-link-color: $body-font-color;

$ingress-font-size: 1.286em;

$line-height: 1.6;

.dnd-widget-wrapper {
  margin-bottom: 2rem;

  &.context-content_half {
    height: auto;
    line-height: 0;

    @media screen and (min-width: $mobile-landscape-wide) {
      width: 50%;
    }
  }

  &.atom-align-right {
    @media screen and (max-width: $mobile-landscape-wide) {
      float: none;
    }

    @media screen and (min-width: $mobile-landscape-wide) {
      margin-left: 2rem;
    }
  }

  &.atom-align-left {
    @media screen and (max-width: $mobile-landscape-wide) {
      float: none;
    }

    @media screen and (min-width: $mobile-landscape-wide) {
      margin-right: 2rem;
    }
  }
}

.type-video .scald-atom {
  &.view-mode-content_full {
    margin: 1em 0;
    position: relative;

    .fluid-width-video-wrapper {
      position: absolute;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &.view-mode-content_half {
    margin: 1em 0;
    position: relative;

    .fluid-width-video-wrapper {
      position: absolute;
    }

    img {
      @media screen and (min-width: $desktop-narrow) {
        height: auto;
        width: 100%;
      }
    }
  }
}

.node-type-place {
  .field--name-field-description {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.node--blog--full {
  .field--name-field-lead-paragraph-et {
    font-size: $ingress-font-size;
    font-weight: 600;
    line-height: $line-height;
  }

  .field--name-field-blog-tags {
    margin-top: 1em;

    .field__items {
      margin-bottom: 1em;
    }
  }
}

blockquote {
  border-bottom: 1px solid $blockquote-border-color;
  border-top: 1px solid $blockquote-border-color;
  font-size: 1.15em;
  line-height: 135px;
  margin: 10px 0;
  padding: 10px 0 10px 35px;
  position: relative;

  &:before {
    color: $blockquote-border-color;
    content: "â€";
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 120px;
    left: -2px;
    position: absolute;
    top: -15px;
  }

  @media screen and (min-width: $mobile-landscape-wide) {
    border: none;
    float: right;
    width: 40%;

    &:before {
      left: -4px;
      top: -24px;
    }
  }

  @media screen and (min-width: $tablet-portrait) {
    border-bottom: 1px solid $blockquote-border-color;
    border-top: 1px solid $blockquote-border-color;
    float: none;
    width: 100%;

    &:before {
      left: -2px;
      top: -15px;
    }
  }

  @media screen and (min-width: $desktop) {
    border: none;
    float: right;
    width: 40%;

    &:before {
      left: -4px;
      top: -24px;
    }
  }
}

.view-mode-current blockquote {
  border: 0;
  font-size: 1em;
  margin: 0;
  padding: 0 0 0 2em;
  position: relative;
  width: auto;

  &:before {
    color: $turku-white;
    font-size: 60px;
    left: 0;
    position: absolute;
    top: -5px;
  }

  > p {
    margin: 0;
  }
}
