.page-search {
  .block--facetapi {
    margin: 0 1.25rem 1.25rem;
  }

  .content__wrapper--sidebar-first {
    @media screen and (min-width: $tablet-portrait) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .content-top {
    @media screen and (min-width: $tablet-portrait) {
      margin-bottom: 60px;
      width: 100%;
    }

    @media screen and (min-width: $tablet-landscape) {
      margin-left: 35%;
      width: 65%;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 30%;
      width: 70%;
    }

    @media screen and (min-width: $full) {
      margin-left: 25%;
      width: 75%;
    }
  }

  .sidebar--first {
    @media screen and (min-width: $tablet-portrait) {
      width: 45%;
    }

    @media screen and (min-width: $desktop-narrow) {
      width: 35%;
    }

    @media screen and (min-width: $desktop) {
      width: 30%;
    }

    @media screen and (min-width: $full) {
      width: 25%;
    }
  }

  .section--content {
    @media screen and (min-width: $tablet-portrait) {
      width: 55%;
    }

    @media screen and (min-width: $desktop-narrow) {
      width: 65%;
    }

    @media screen and (min-width: $desktop) {
      width: 70%;
    }

    @media screen and (min-width: $full) {
      width: 75%;
    }
  }
}


.search-toggle-filters {
  background-color: $turku-blue;
  border: 0 none;
  color: #ffffff;
  display: block;
  font-size: 1em;
  margin: 1.25rem;
  padding: 8px 35px 8px 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:before {
    font-size: 1.5em;
    line-height: 36px;
    position: absolute;
    right: 8px;
    top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.search-toggle-single-filter {
  background-color: $search-background;
  color: $turku-blue;
  font-size: 0.9em;
  display: block;
  height: 28px;
  line-height: 28px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 35px;

  &:before {
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
  }
}
