.page-search {
  .l-region--sidebar-first {
    display: block;

    .block--facetapi {
      .block__title {
        position: relative;
      }
    }
  }
}


.page-event-search {
  .l-region--sidebar-first {
    display: block;

    .block {
      margin-bottom: 30px;
    }

    .block--facetapi {
      .block__title {
        position: relative;
      }
    }
  }
}

// Event search keyword search block
.views-exposed-form-driveturku-event-search-page-event-search-page {
  .views-exposed-form {
    display: table;
    margin-bottom: 3em;
    padding: 0 15px;
    width: 100%;

    .views-exposed-widget {
      display: table-cell;
      float: none;
      padding: 0px;
      width: 100%;

      .form-text {
        background-color: $search-background;
        border: 1px solid $turkucalendar-gray;
        height: 3em;
        line-height: 3;
        margin: 0px;
        padding: 0px 10px;
        vertical-align: middle;
        width: 100%;
      }

      .form-submit {
        background-color: $turkucalendar-gray;
        margin: 0px;
        padding: 12px 40px;
        vertical-align: middle;
      }
    }
  }
}

.search-toggle-filters {
  //@include icon-plus;
  background-color: $turku-blue;
  border: 0 none;
  color: #ffffff;
  display: block;
  font-size: 1em;
  margin: 10px 16px;
  padding: 8px 35px 8px 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  // &.open {
  //   @include icon-minus;
  // }

  &:before {
    font-size: 1.5em;
    line-height: 36px;
    position: absolute;
    right: 8px;
    top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.search-toggle-single-filter {
  //@include icon-plus;
  background-color: $search-background;
  color: $turku-blue;
  font-size: 0.9em;
  display: block;
  height: 28px;
  line-height: 28px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 35px;

  &:before {
    vertical-align: middle;
  }

  // &.open {
  //   @include icon-minus;
  // }

  &:hover {
    cursor: pointer;
  }
}
