.tabs {
  > li {
    list-style: none;
  }
}

.quicktabs-wrapper {
  margin: 40px 0;

  .quicktabs-tabs {
    margin: 10px 1%;
    padding-left: 0;
    text-align: center;

    @media screen and (min-width: $tablet-portrait) {
      margin-left: 0.5%;
      margin-right: 0.5%;
      text-align: left;
    }

    > li {
      display: inline-block;
      padding: 0;

      > a {
        color: #404040;
        display: block;
        @include font-size(15.5px);
        font-weight: bold;
        padding: 5px 16px;

        @media screen and (min-width: $tablet-portrait) {
          @include font-size(18px);
        }
      }

      &.active > a,
      > a:hover{
        background-color: #404040;
        color: #FFFFFF;
        text-decoration: none;
      }

      &:only-child {
        display: none;
      }

      &.qt-hidden {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.quicktabs-hide {
  // quicktabs are hidden this way because of a bug with maps
  position: absolute;
  top: -10000px;
  display: block;
  left: 0;
  right: 0;
}

// News archive link
.quicktabs-news-archive-link {
  @media screen and (min-width: $desktop-narrow) {
    float: right;
  }
}

// Admin tab styling
.tabs--primary {
  border-bottom: none;
  margin: 0;

  &.links--inline li {
    margin: 0;
  }

  a {
    background-color: $turku-black;
    color: #fff;
    margin: 10px 5px;
    padding: 10px 20px;

    &.active,
    &:hover {
      background-color: lighten($turku-black, 20%);
      text-decoration: none;
    }
  }
}

// Hide block title from collapsible tabs, enhance toggle element to look like block title
.block--quicktabs--collapsible {
  .block__title {
    display: none;
  }

  .ctools-toggle {
    display: none;
  }

  .ctools-collapsible-handle {
    //@include icon-minus;
    background-color: $turku-blue;
    color: #fff;
    font-size: 1.250em;
    padding: 8px 40px 8px 15px;
    position: relative;

    &:after {
      background-color: darken($turku-blue, 10%);
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
    }

    &:before {
      color: #ffffff;
      font-size: 30px;
      height: 100%;
      line-height: 100%;
      margin-top: -14px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50%;
      width: 40px;
      z-index: 2;
    }
  }

  // .ctools-collapsed {
  //   .ctools-collapsible-handle {
  //     @include icon-plus;
  //   }
  // }

  .quicktabs-wrapper {
    margin: 0;
  }
}

// If there is info-box on the page the places of services block with render over the info-box. This is why we need to
// clear it before that happens.
.field--name-places-for-services {
  clear: both;
}

div.horizontal-tabs {
  border: none;
  margin: 20px 0;

  ul.horizontal-tabs-list {
    border: none;
    background-color: transparent;
    margin: 0 0 10px;

    .horizontal-tab-button {
      background-color: transparent;
      border: none;
      display: inline-block;
      float: none;
      list-style: none;
      padding: 0;

      > a {
        color: #404040;
        display: block;
        @include font-size(15.5px);
        font-weight: bold;
        padding: 5px 16px;

        @media screen and (min-width: $tablet-portrait) {
          @include font-size(18px);
        }
      }

      &.selected > a strong,
      > a:hover strong {
        color: #FFFFFF;
      }

      &.selected > a,
      > a:hover {
        background-color: #404040;
        text-decoration: none;
      }

      &:only-child {
        display: none;
      }
    }
  }

  fieldset.horizontal-tabs-pane {
    margin: 0;
    padding: 0;
  }
}

// Service map / list tabs
.attachment > .tabs {
  margin: 10px 1%;
  padding-left: 0;
  text-align: center;

  @media screen and (min-width: $tablet-portrait) {
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: left;
  }

  > li {
    display: inline-block;
    padding: 0;

    > a {
      color: #404040;
      display: block;
      @include font-size(15.5px);
      font-weight: bold;
      padding: 5px 16px;

      @media screen and (min-width: $tablet-portrait) {
        @include font-size(18px);
      }
    }

    &.active > a,
    > a:hover{
      background-color: #404040;
      color: #FFFFFF;
      text-decoration: none;
    }

    &:only-child {
      display: none;
    }

    &.qt-hidden {
      display: none;
      visibility: hidden;
    }
  }
}
