.ajax-is-loading {
  pointer-events: none;
  position: relative;
  @include user-select(none);

  &:before {
    background: #fff image-url('ajax-throbber.gif') no-repeat center center;
    @include border-radius(36px);
    border: 3px solid $turkucalendar-filter-background;
    content: " ";
    display: block;
    height: 72px;
    margin: 0 auto -72px;
    position: relative;
    top: 1em;
    width: 72px;
    z-index: 10;
  }

  &:after {
    content: " ";
    display: block;
    background: linear-gradient(to bottom, transparent, rgba($turkucalendar-ajax-fade-background, 0.3) 17%, rgba($turkucalendar-ajax-fade-background, 0.5));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.quicktabs_main.ajax-is-loading {
  &:after {
    background: rgba($turkucalendar-ajax-fade-background, 0.8);
  }
}