// Emergency messages styles
.l-emergency-messages {
  .l-region {
    margin: 0;
  }
}

// Header styles. Header wraps all the elements on the header.
.l-header {
  @include clearfix;
  background-color: $footer-bg;
  overflow: visible;
  position: relative;

  @include breakpoint($mobi-navi) {
    background-color: $footer-bg;
  }

  .l-header-inner {
    height: 0;
    padding-bottom: 47.3%;
  }

  .l-region {
    margin: 0;
  }
}

.l-before-header {
  background-color: $header-overlay-bg;
  float: left;
  width: 100%;
}

// Branding styles. Branding includes the site logo, additional navigation and section title (only larger screens).
.l-branding {
  @include layout(18) {
    @include grid-span(8,1);
  }
  clear: left;
  overflow: hidden;
  z-index: 3;

  @include breakpoint($mobi-navi) {
    background-color: $header-overlay-bg;
    float: none;
    margin: 0;
    width: 100%;
  }

  .l-branding-inner {
    @include breakpoint($mobi-navi) {
      display: table;
      float: none;
      width: 100%;
    }

    .l-region--header-top {
      display: none; // This region is rendered to header top area when browsing with mobile client.

      @include breakpoint($mobi-navi) {
        display: block;
        width: 100%;
      }
    }
  }
}

// The inner parts of the areas are used to limit the width and center the elements on large screens.
.l-before-header-inner,
.l-emergency-messages-inner,
.l-branding-inner,
.l-navigation-inner {
  @include breakpoint($mobi-navi) {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
  }
}

// Header top styles. Header top includes for example section title. This is used only on mobile devices.
.l-header-top {
  clear: both;
  position: relative;
  z-index: 3;

  @include breakpoint($mobi-navi) {
    display: none; // This area is rendered in the branding area's header top region on devices with large screens.
  }
}

// Header top styles when the main image is present
.has-main-image {
  .l-header-top {
    height: 0;
  }
}

// Navigation styles. This area has additional styles on _navigation.scss file.
.l-navigation {
  @include layout(18) {
    @include grid-span(10,9);
  }
  padding: 10px 0;

  @include breakpoint($mobi-navi) {
    @include grid-span(12,1);
    @include box-shadow(rgba(0,0,0,0.16) 0 2px 2px);
    background-color: $navigation-bg;
    float: none;
    padding: 0;
  }
}

// Logo-region
.l-region--logo {
  padding: 7px 5px;

  @include breakpoint($tab) {
    padding: 10px 5px;
  }

  @include breakpoint($mobi-navi) {
    display: table-cell;
    width: 20%;
  }
}

// Header top and navigation top regions
.l-navigation-top {
  clear: both;
  overflow: hidden;
  text-align: right;

  @include breakpoint($mobi-navi) {
    display: table-cell;
    vertical-align: bottom;
    width: 80%;
  }
}

// Navigation region
.l-region--navigation {
  line-height: 0;
  margin: 3px 0;
  text-align: right;

  @include breakpoint($mobi-navi) {
    line-height: auto;
    margin: 0 auto;
    position: relative;
    text-align: left;
  }
}

// Header region. Includes for example main image and picture carousels.
.l-region--header {
  background-color: $footer-bg;
  margin: 0;
  width: 100%;
  z-index: 1;

  @include breakpoint($small-desk) {
    left: 0;
    position: absolute;
    top: 0;
  }
}

// Logo & site name
.site-name {
  margin: 0 $gutters * 2 0 0;
  overflow: hidden;
  padding: 0;

  @include breakpoint($tab) {
    margin: 0 $gutters;
  }

  @include breakpoint($mobi-navi) {
    margin: 0;
  }
  a {
    display: block;
    float: left;
    line-height: 0;
    max-width: 100%;

    img {
      max-height: 40px;

      @include breakpoint($tab) {
        max-height: 46px;
      }

      @include breakpoint($mobi-navi) {
        max-height: 100%;
      }
    }
  }
}

// Font zoom toggle
.font-zoom-level-changer {
  color: #FFFFFF;
  display: none;
  text-align: right;
  vertical-align: middle;

  @include breakpoint($mobi-navi) {
    display: inline-block;
    padding: 0 0.5em;
  }

  span {
    &.is-active,
    &:hover {
      color: #FFFFFF;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .font-zoom-level--medium {
    font-size: 1.3em;
  }

  .font-zoom-level--large {
    font-size: 1.5em;
  }
}

// Section header styles
.section-header {
  .section-title {
    color: #fff;
    font-weight: normal;
    margin: 0 $gutters $gutters;
    text-align: center;

    @include breakpoint($mobi-navi) {
      font-size: 2em;
      font-weight: bold;
      line-height: 1.4;
      margin: 0 7px 0 0;
      text-align: right;
    }

    a {
      color: #FFFFFF;

      @include breakpoint($mobi-navi) {
        top: 5px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Section header styles when there is main image present
.has-main-image {
  .section-header .section-title {
    margin-bottom: 0;
    text-align: right;
  }
}



// On sections, when viewing the page on desktop mode, the section header needs to be vertically centered.
.og-context {
  .l-navigation-top {
    vertical-align: middle;
  }
}
