.info-box {
  background-color: $sub-page-highlighted-bg;
  font-size: 0.786em;
  margin-bottom: 1em;
  padding: 1em;

  @include breakpoint($small-desk) {
    clear: both;
    float: right;
    margin: 0 0 1em 1em;
    width: 45%;
  }

  @include breakpoint($large-desk) {
    font-size: 0.857em;
  }
}

.info-box {
  .field__item p {
    font-size: 1em;
  }
}

.info-box--bottom {
  display: block;

  @include breakpoint($small-desk) {
    display: none;
  }
}

.info-box--dupicate {
  .info-box--bottom {
    display: none;

    @include breakpoint($small-desk) {
      display: block;
    }
  }
}

.info-box--additional {
  @extend .info-box;
}

.info-box + .info-box--additional {
  margin-top: -2em;
}

.info-box__content {
  display: block;
  text-align: left;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    padding-bottom: 0.2em;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    border-bottom: 4px solid $turku-white;
  }

  h3 {
    border-bottom: 2px solid $turku-white;
  }

  ul {
    li {
      color: $turku-black;
    }
  }

  > p:first-child {
    margin-top: 0;
  }
}

.info-box__field-container {
  .field {
    font-size: 0.857em;
    margin-bottom: 10px;

    @include breakpoint($mobi-navi) {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-size: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }

  .field-label,
  .field__label {
    color: $turku-black;
    float: none;
    font-weight: bold;
    text-transform: none;

    @include breakpoint($mobi-navi) {
      float: left;
      margin-right: -65%;
      width: 35%;
    }
  }

  .field.field--label-inline,
  .field.field--label-above {
    .field-items,
    .field__items {
      @include breakpoint($small-desk) {
        margin-left: 0;
      }

      @include breakpoint($mobi-navi) {
        margin-left: 35%;
        width: 65%;
      }
    }
  }

  .service-tree {
    font-size: 1em;
  }

  .map {
    margin: -1em -1em 1em;
  }
}