.search-results {
  background: $search-background;
  padding: 15px 15px 0px 15px;

  // Text search form
  .views-exposed-form {

    .views-exposed-widgets {
      border-bottom: 1px solid $turku-blue;
      display: table;
      margin-bottom: 2em;
      width: 100%;
    }

     .views-exposed-widget {
      display: table-cell;
      float: none;
      padding: 0;
      width: 100%;

      label {
        display: none;
      }

      .form-text {
        border: 1px solid $turku-gray;
        height: 3em;
        line-height: 3;
        margin: 0;
        padding: 0 10px;
        vertical-align: middle;
        width: 100%;
      }

      &.views-submit-button {
        width: auto;
      }

      .form-submit {
        margin: 0;
        padding: 12px 10px;
        vertical-align: middle;
      }
    }
  }
}

.search-results--map {
  .view-content {
    // Pull the map onto the padding
    margin: 0 -15px;
  }
}

.search-help {
  display: none;

  @include breakpoint($small-desk) {
    display: block;
    padding: 0 1em 1em;
  }
}

.search-result {
  @include box-shadow(darken($search-background, 10%) 0 1px 0 0);
  @include clearfix();
  background-color: #fff;
  border-bottom: 1px solid $turku-gray;
  border-right: 1px solid $turku-gray;
  border-top: 1px solid $turku-gray;
  display: table;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.search-result__attachment {
  background-color: $turku-gray;
  display: table-cell;
  min-width: 15px;
  text-align: center;
  vertical-align: top;
}

.search-result__content {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  width: 100%;

  p {
    font-size: 1em;
    line-height: initial;
  }
}

.search-result__title {
  @extend h2;
  margin: 0 0 10px;
}

.search-result__body {
  > .node {
    @include breakpoint($small-desk) {
      display: table;
    }
  }

  .field .field-item p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.search-result__main {
  width: 100%;

  @include breakpoint($small-desk) {
    display: table-cell;
  }

  .field {
    display: table-row;
  }

  .search-result__tags,
  .field-name-field-keywords,
  .field--name-field-keywords {
    display: table-header-group !important;

    .field-items,
    .field__items {
      padding-bottom: 5px;
    }

    .field-item,
    .field__item {
      background-color: lighten($turku-gray, 5%);
      color: $turku-black;
      display: inline-block;
      font-size: 0.875em;
      margin: 0 5px 5px 0;
      padding: 2px 5px;
      text-transform: uppercase;
      @include opacity(0.8);
    }
  }
}

.search-result__media {
  display: none;

  @include breakpoint($small-desk) {
    display: table-cell;
    min-width: 120px;
    padding-left: 10px;
    vertical-align: top;
  }

  @include breakpoint($mobi-navi) {
    min-width: 160px;
  }

  @include breakpoint($desk) {
    min-width: 200px;
  }

  @include breakpoint($large-desk) {
    min-width: 200px;
  }

  figure {
    margin: 0;
  }
}
