/*******************************************************************************
 * turkucalendar-default.layout.scss
 *
 * Layout built with Singularity.
 ******************************************************************************/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  background: #343E51;
}

.l-header {
  background: transparent;
}

.l-main-wrapper {
  clear: both;
  overflow: hidden;
  padding: 2em 0;
}

.l-main {
  padding-bottom: 1em;
}
.l-main:after {
  content: "";
  display: table;
  clear: both;
}

.l-content {
  background-color: #FFFFFF;
  padding: 0 !important;
}

.l-region,
.l-content {
  margin: 0 16px;
}
@media (min-width: 769px) {
  .l-region,
  .l-content {
    margin: 0 auto;
  }
}

@media (min-width: 946px) {
  .l-navigation-top,
  .l-branding-wrapper,
  .l-custom-navigation,
  .l-header-top .l-navigation {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
  }
}

.l-region--after-content {
  background-color: #FFFFFF;
  padding-bottom: 2em;
}

.l-footer {
  background: #37475E;
}

.l-after-footer-wrapper {
  background: #343E51;
}

@media (min-width: 769px) {
  .l-main,
  .l-footer .l-region {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
  }
}

@media (min-width: 769px) {
  .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 16px;
  }
}

@media (min-width: 769px) {
  .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-right: 16px;
  }
}

@media (min-width: 769px) {
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 16px;
  }
}

@media (min-width: 769px) {
  .l-page.has-one-sidebar.has-sidebar-first .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 16px 0 0;
  }
}
@media (min-width: 769px) {
  .l-page.has-one-sidebar.has-sidebar-second .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 0 0 16px;
  }
}
@media (min-width: 769px) {
  .l-page.has-two-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0;
  }
}

.has-main-image .l-branding,
.has-main-image .l-custom-navigation {
  z-index: 4;
  position: relative;
}
.has-main-image .l-navigation-top {
  z-index: 4;
  position: relative;
}
.has-main-image .l-branding {
  z-index: 5;
}
@media (min-width: 551px) {
  .has-main-image .l-branding {
    padding-top: 4em;
  }
}
.has-main-image .l-filters-wrapper {
  z-index: 4;
  position: relative;
}
@media (min-width: 769px) {
  .has-main-image .l-main-wrapper {
    z-index: 3;
    position: relative;
  }
}
