// Mobile layout - 320px
$mobi: 0px;

// Phablet layout 321px - 550px
$phablet: 321px;

// Tablet layout 551px - 768px
$tab: 551px;

// Small desktop layout 769 - 1137px
$small-desk: 769px;

// Mobile-navigation-breakpoint
$mobi-navi: 946px;

// Desktop layout 1138 - 1319px
$desk: 1138px;

// Large desktop layout 1320px -
$large-desk: 1320px;

// Huge desktop layout 1620px -
$huge-desk: 1620px;
