.liftup-box-list__content {
  margin: 0 -1rem;

  @media screen and (min-width: $mobile-landscape-wide) {
    display: flex;
    flex-wrap: wrap;
  }
}

.liftup-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;

  .field--name-post-date {
    font-family: $bergen-mono;
    font-size: .875rem;
    margin-bottom: 1rem;
    text-align: right;

    @media screen and (min-width: $tablet-portrait) {
      font-size: 1rem;
    }
  }

  .field--name-title {
    @include font-size-responsive(1.125rem);
    margin-bottom: .5rem;
    font-weight: bold;

    a {
      color: $link-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $link-color-hover;
      }
    }
  }

  @media screen and (min-width: $mobile-landscape-wide) {
    width: 50%;
  }

  @media screen and (min-width: $tablet-landscape) {
    width: 33.333333%;
  }

  @media screen and (min-width: $container) {
    width: 25%;
  }
}

.liftup-box__inner {
  border: 1px solid $default-color-lighter;
  padding: 1.25rem;
  width: 100%;
}

.liftup-box__header {
  margin-bottom: 1rem;
}

.liftup-box-list  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (min-width: $tablet-portrait) {
    flex-direction: row;
  }
}

.liftup-box--topic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1.25em 0;
  width: 100%;


  @media screen and (min-width: $tablet-portrait) {
    margin: 1.25em 1% 1.25rem 0;
    width: 49.5%;
  }

  @media screen and (min-width: $container) {
    margin: 1.875em 1% 1.875rem 0;
    width: 32.66%;
  }

  &:nth-child(2n) {
    @media screen and (min-width: $tablet-portrait) {
      margin-right: 0;
    }

    @media screen and (min-width: $container) {
      margin-right: 1%;
    }
  }

  &:nth-child(3n) {
    @media screen and (min-width: $container) {
      margin-right: 0;
    }
  }

  .liftup-box--topic__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .liftup-box__image {
    border-top: 12px solid $turku-black;
  }
}

.liftup-box__caption {
  color: $body-font-color;
  margin-top: 1.150rem;
  margin-bottom: 0;
  text-transform: uppercase;
  word-break: break-word;

  @media screen and (min-width: $container) {
    margin-top: 1.250rem;
    margin-bottom: 0;
  }
}

.liftup-box.liftup-box--wide  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  width: 100%;
}

.liftup-box--wide {
  background-color: $white;
  border-bottom: none;
  border-top: .938rem solid $primary-color;
  color: $black;
  cursor: pointer;
  margin: 0;
  padding: 0;

  .node--liftup {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: $tablet-landscape) {
      flex-direction: row-reverse;
    }

    @media screen and (min-width: $desktop) {
      align-items: center;
    }
  }

  &:nth-child(2) {
    .node--liftup {
      flex-direction: column-reverse;

      @media screen and (min-width: $tablet-landscape) {
        flex-direction: row;
      }
    }
  }

  .field--name-post-date {
    color: $gray;
    text-align: left;
  }

  .field--name-field-visible-title h2 {
    @media screen and (min-width: $tablet-landscape) {
      margin-bottom: 1.25rem;
    }
  }

  .field--name-field-link-to-content a {
    border: 1px solid $primary-color;
    color: $primary-color;
    display: inline-block;
    margin-top: 2rem;
    padding: .65rem 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $tablet-landscape) {
      margin-top: 1.5rem;
      padding: .95rem 2.25rem;
      width: auto;
    }

    @media screen and (min-width: $container) {
      margin-top: 2.5rem;
    }

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: $white;
    }
  }

  .field--name-body {
    background-color: $white;
    bottom: 20px;
    color: $black;
    font-size: 1rem;
    width: auto;

    @media screen and (min-width: $tablet-landscape) {
      left: auto;
      right: 0;
    }
  }

  .liftup-box__group-right {
    position: relative;
    width: 100%;

    @media screen and (min-width: $tablet-landscape) {
      width: 50%;
    }
  }

  .liftup-box__group-left {
    float: none;
    padding: 1.5em $container-gutter 0;
    width: 100%;

    @media screen and (min-width: $mobile-landscape-wide) {
      padding: 1.5em 0 0;
    }

    @media screen and (min-width: $tablet-landscape) {
      padding: 1rem 1.5rem 0;
      width: 50%;
    }

    @media screen and (min-width: $container) {
      padding: 2rem 3.5rem 0;
    }
  }

  &:nth-child(2) {
    .liftup-box__group-right {
      @media screen and (min-width: 1400px) {
        margin-left: 0;
      }
    }

    .liftup-box__group-left {

      @media screen and (min-width: 1400px) {
        margin-right: 0;
      }
    }
  }
}

// Project liftup mobile spesific styles
.view-kada-project-liftups {
  margin: 0 -1.25rem;

  @media screen and (min-width: $mobile-landscape-wide) {
    margin: 0;
  }
}
