.flexslider {
  background: $default-color-lightest;

  li {
    margin-top: 0;

    @media screen and (min-width: $tablet-portrait) {
      position: relative;
    }
  }
}

.touchevents .flexslider {
  .flex-control-nav {
    margin: 0 -.5rem;
  }

  li {
    padding: 0 .5rem;
  }

  a {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.flex-caption-wrapper,
.flex-controls {
  @media screen and (min-width: $tablet-portrait) {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 5;
  }
}

.flex-caption-wrapper {
  @media screen and (max-width: $tablet-portrait - $max-width-deduction) {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
  }

  @media screen and (min-width: $tablet-portrait) {
    top: 2rem;
  }
}

.flex-caption__title {
  color: $black;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;

  @media screen and (min-width: $tablet-portrait) {
    font-size: 1.75rem;
    //line-height: normal;
  }

  @media screen and (min-width: $desktop-narrow) {
    font-size: 2.25rem;
  }

  @media screen and (min-width: $desktop) {
    font-size: 2.75rem;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.flex-caption__body {
  @include font-size-responsive(1.125rem);
  line-height: 1.8em;

  @media screen and (min-width: $tablet-portrait) and (max-width: 819px) {
    font-size: 1rem;
  }

  @media screen and (min-width: $tablet-portrait) {
    + .flex-caption__read-more {
      margin-top: 1.5rem;
    }
  }

  @media screen and (min-width: $desktop-narrow) {
    font-size: 1.125rem;
  }

  @media screen and (min-width: $container) {
    font-size: 1.25rem;
  }
}

.flex-caption {
  background-color: $white;
  bottom: 0;
  color: $black;
  left: 0;
  line-height: normal;
  padding: 1rem 1rem 1.5rem 1rem;
  position: absolute;
  width: 100%;

  @media screen and (min-width: $tablet-portrait) {
    background-color: $white;
    //margin-left: $distance-from-items-tablet-portrait;
    left: 3rem;
    padding: 2rem 5rem 3.5rem 5rem;
    width: 74.167%;
  }

  @media screen and (min-width: $desktop) {
    //margin-left: $distance-from-items-large-desk;
    width: 55%;
  }

  .flex-caption__image {
    margin: 0 auto;
    max-width: 160px;
    padding-bottom: 1em;

    @media screen and (min-width: $mobile-portrait) {
      clear: none;
      float: left;
      max-width: none;
      padding: 0;
      width: 33.33%;
    }

    & + .flex-caption__content {
      @media screen and (min-width: $mobile-portrait) {
        clear: none;
        float: right;
        padding-left: 1em;
        width: 66.67%;
      }

      @media screen and (min-width: $tablet-portrait) {
        padding-left: 2em;
      }
    }
  }

  .flex-caption__title {
    font-size: .95em;
    font-family: $bergen-mono;
    text-transform: uppercase;

    @media screen and (min-width: $mobile-landscape-wide) {
      font-size: 1em;
    }

    a {
      color: $link-color;
    }
  }

  .flex-caption__body {
    @include font-size-responsive(1rem);
    font-family: $bergen-text;
    line-height: 1.6em;

    @media screen and (min-width: $tablet-portrait) and (max-width: 819px) {
      font-size: 1rem;
    }
  }

  .flex-caption__read-more {
    color: $white;
  }
}

.flex-caption-wrapper,
.flex-control-nav-container {
  @media screen and (min-width: $tablet-portrait) {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1320px;
    position: absolute;
    width: 100%;
  }
}

.flexslider__controls {
  position: absolute;
  bottom: 0rem;
  padding: 1rem 1rem 2.5rem 1rem;
  margin: 0;
  width: 100%;
  z-index: 5;

  @media screen and (min-width: $tablet-portrait) {
    bottom: 2.5rem;
    left: 2rem;
    padding: 3rem 6rem 5.5rem 6rem;
    width: 74.167%;
  }

  @media screen and (min-width: $desktop) {
    width: 55%;
  }

  .flex-control-nav {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0 -.25rem;

    @media screen and (min-width: $tablet-portrait) {
      padding: 0 6rem;
    }
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0 .25rem;
  }

  a {
    border: 1.5px solid $black;
    border-radius: 100%;
    display: block;
    height: .75rem;
    width: .75rem;
    background: transparent;
    color: transparent;
    font-size: 0;

    &:hover,
    &:focus {
      background: $white;
      cursor: pointer;
    }

    @media screen and (max-width: $tablet-portrait - $max-width-deduction) {
      border-color: $black;

      &:hover,
      &:focus {
        background: $black;
      }
    }
  }

  .flex-control-paging {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 3;

    @media screen and (min-width: $tablet-portrait) {
      bottom: 0;
      // left: $distance-from-items-tablet-portrait;
      //left: 3rem;
      padding-bottom: 3px;
      text-align: left;
      //width: 54.167%;
    }

    @media screen and (min-width: $desktop) {
      // left: $distance-from-items-large-desk;
      //width: 42%;
    }

    > li {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .flex-active,
  .flex-active:hover,
  .flex-active:focus {
    border-color: $primary-color;
    background: $primary-color;
  }

  //.flex-pauseplay {
  //  bottom: 0;
  //  display: inline-block;
  //  right: 5rem;
  //  margin: 0;
  //  position: absolute;
  //  padding: 0;
  //
  //  @media screen and (min-width: $tablet-portrait) {
  //    right: 8rem;
  //  }
  //
  //  .flex-play {
  //    background-color: $black;
  //    height: 1.75rem;
  //    width: 1.75rem;
  //
  //    &:before {
  //      border-width: 8px 0 8px 10px;
  //      border-style: solid;
  //      border-color: transparent transparent transparent $white;
  //      box-sizing: border-box;
  //      content: "";
  //      height: .9rem;
  //      position: absolute;
  //      right: -0.125rem;
  //      top: 50%;
  //      transform: translate(-100%, -50%);
  //      width: 0;
  //    }
  //  }
  //
  //  .flex-pause {
  //    background-color: $black;
  //    height: 1.75rem;
  //    width: 1.75rem;
  //
  //    &:before {
  //      border-style: double;
  //      border-width: 0px 0px 0px 10.5px;
  //      border-color: $white;
  //      content: "";
  //      height: .9rem;
  //      position: absolute;
  //      right: -0.063rem;
  //      top: 50%;
  //      transform: translate(-100%, -50%);
  //      width: 0;
  //    }
  //  }
  //}

  //.flex-direction-nav {
  //  bottom: 0;
  //  display: inline-block;
  //  right: 3rem;
  //  margin: 0;
  //  position: absolute;
  //  padding: 0;
  //
  //  @media screen and (min-width: $tablet-portrait) {
  //    right: 6rem;
  //  }
  //
  //  li {
  //    display: inline-block;
  //    list-style: none;
  //    margin: 0 2rem .2rem 0;
  //    vertical-align: bottom;
  //
  //    @media screen and (min-width: $tablet-portrait) {
  //      display: inline-block;
  //      float: none;
  //    }
  //
  //    &:last-child {
  //      margin-right: 0;
  //    }
  //
  //    a {
  //      display: block;
  //      border: 0;
  //      font-size: 0;
  //      height: 10px;
  //      text-align: center;
  //      width: 10px;
  //
  //      &:hover {
  //        text-decoration: none;
  //      }
  //
  //      &.flex-next {
  //        background: url(../../dist/image/icon_arrow-right.svg) no-repeat center center transparent;
  //        background-size: auto 25px;
  //        height: 1.4rem;
  //        width: 1.4rem;
  //      }
  //
  //      &.flex-prev {
  //        background: url(../../dist/image/icon_arrow-left.svg) no-repeat center center transparent;
  //        background-size: auto 25px;
  //        height: 1.4rem;
  //        width: 1.4rem;
  //      }
  //
  //      //&.flex-next,
  //      //&.flex-prev {
  //      //  &:before {
  //      //    color: #FFFFFF;
  //      //    font-size: 25px;
  //      //    line-height: 30px;
  //      //
  //      //    &:hover {
  //      //      text-decoration: none;
  //      //    }
  //      //  }
  //      //}
  //    }
  //  }
  //}
}


