table {
  display: block;
  margin: 0 0 2em;
  width: 100%;

  @include breakpoint($desk) {
    display: table;
    margin: 0 0 3em;
  }

  &.has-no-table-header {
    tr {
      border-bottom: none;

      @include breakpoint($desk) {
        border-bottom: 1px solid $turku-blue;
      }
    }

    td {
      display: block;
      padding: 10px;

      &:before {
        content: "";
        display: none;
      }

      @include breakpoint($desk) {
        display: table-cell;
      }
    }

    tbody {
      th {
        font-weight: bold;
      }
    }
  }

  th {
    background-color: transparent;
    display: block;
    padding: 5px;

    @include breakpoint($desk) {
      display: table-cell;
    }
  }

  tr {
    display: block;
    margin: 10px 0 0;
    padding: 0 0 10px;

    @include breakpoint($desk) {
      display: table-row;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $turku-blue;
    }

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      td:first-child:nth-of-type(1) {
        margin-top: 0;
        position: static;

        &:after {
          content: "";
          display: none;
          height: 0;
          width: 0;
        }
      }
    }

    td:first-child:nth-of-type(1) {
      margin-top: 10px;
      position: relative;

      @include breakpoint($desk) {
        margin-top: 0;
        position: static;
      }

      &:after {
        background-color: $turku-black;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: -11px;
        width: 100%;

        @include breakpoint($desk) {
          content: "";
          display: none;
          height: 0;
          width: 0;
        }
      }
    }
  }

  td {
    display: block;
    font-size: 0.9em;
    padding: 5px 5px 10px 12px;

    &:before {
      content: attr(data-title);
      display: block;
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 5px;
      margin-left: -5px;
      padding-right: 0;
    }

    &:nth-child(odd) {
      background-color: #f5f5f5;

      @include breakpoint($desk) {
        background-color: transparent;
      }
    }

    @include breakpoint($desk) {
      display: table-cell;
      padding: 5px;

      &:before {
        content: "";
        display: none;
      }
    }

    p {
      // Some content might be written inside a paragraph so we should reset the paragraph styles
      @include font-size(12.6px);
      line-height: normal;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  thead {
    display: block;

    @include breakpoint($desk) {
      border-bottom: 2px solid $turku-black;
      display: table-header-group;
    }

    tr {
      // Hide table header content on mobile but don't apply display: none; to keep it accessible.
      left: -9999px;
      opacity: 0;
      position: absolute;
      top: -9999px;

      @include breakpoint($desk) {
        left: auto;
        opacity: 1;
        position: static;
        top: auto;
      }
    }
  }

  tbody {
    display: block;

    @include breakpoint($desk) {
      display: table-row-group;
    }

    th {
      border-bottom: 2px solid $turku-black;

      @include breakpoint($desk) {
        border-bottom: none;
        border-bottom: 1px solid #fff;
        border-right: 2px solid $turku-black;
        font-weight: normal;
      }
    }
  }
}