.page__contact-information {
  background-color: $gray-lighter;
  margin: 3.15rem 0 0;
  padding: 0;

  @media screen and (min-width: $desktop) {
    margin: 0;
  }

  > .field {
    .field__item {
      border-bottom: 1px solid $yellow;

      &:last-child {
        border-bottom: 0 none;
      }
    }
  }
}

.page__contact-information__header {
  background-color: $yellow;
  font-weight: normal;
  margin: 0;
  padding: 1.25rem;

  @media screen and (min-width: $desktop) {
    padding: 1.25rem 1.875rem;
  }
}