.site-branding__name {
  align-items: center;
  display: flex;
  height: 3.125rem;
  margin-bottom: 0;
}

// Hide the logo image since we use backgrounds but leave it for the screen readers to find.
.site-branding--header__visual {
  opacity: 0;
  visibility: hidden;
}

// On sections we use the section logo field so this needs to be visible.
.section-context .site-branding--header__visual {
  opacity: 1;
  visibility: visible;
}

.site-branding__link {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

// On section context we need to show the actual logo image.
.section-context .site-branding__link {
  text-indent: 0;
}

.site-branding--header__link {
  background: url('../../logo_minimal.svg') no-repeat 0 0 transparent;
  height: 1.75rem;
  width: 1.875rem;

  @media screen and (min-width: $tablet-portrait-narrow) {
    background-image: url('../../logo_full.svg');
    height: 1.75rem;
    width: 6.625rem;
  }

  @media screen and (min-width: $mobile-menu-breakpoint) {
    height: 2.5rem;
    width: 9.875rem;
  }
}

// On section context we need to show the actual logo image.
.section-context .site-branding--header__link {
  background: none;
  height: auto;
  line-height: 0;
  width: auto;
}

.site-branding--footer {
  margin-bottom: 1.875rem;

  @media screen and (min-width: $mobile-footer-breakpoint) {
    left: 1.25rem;
    margin: 0;
    position: absolute;
    top: 0;
  }

  .site-branding__name {
    @include responsive-whitespace;
    height: auto;
    line-height: 0;

    @media screen and (min-width: $mobile-footer-breakpoint) {
      padding: 0;
    }
  }
}

.site-branding--footer__link {
  background: url('../../logo_full.svg') no-repeat 0 0 transparent;
  height: 1.96rem;
  width: 7.5rem;

  @media screen and (min-width: $mobile-footer-breakpoint) {
    background-image: url('../../logo_minimal.svg');
    height: 5.188rem;
    width: 5.625rem;
  }
}

.l-region--branding {
  display: flex;
  align-items: center;
}

.section-title {
  display: none;

  @media screen and (min-width: $mobile-menu-breakpoint) {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 6.25rem;
    margin: 0;
    position: absolute;
    right: 23rem;
    top: 0;
  }
}

// Stupid contextual links ruining everything
.section-context .l-region--branding .contextual-links-region {
  position: static;
}