.breadcrumb {
  padding: 0;
  list-style: none;
}

.breadcrumb__item {
  @include font-size-responsive(0.9375rem);
  display: inline-block;
  color: $primary-color;

  &::after {
    color: $default-color-lighter;
    content: '/';
    margin: 0 .25rem;
  }

  &:last-child {
    &::after {
      display: none;
      content: '';
    }
  }

  a {
    text-decoration: none;
  }
}
