.menu {
  list-style: none;
}

.menu__item {
  a {
    text-decoration: none;
  }

  &.menu__item--has-first-level {
    font-family: $navigation-first-level-family;
  }

  &.menu__item--has-second-level {
    font-family: $navigation-second-level-family;
  }

  &.menu__item--has-third-level {
    font-family: $navigation-third-level-family;
  }
}

.responsified .menu {
  display: none;
}

.responsive-toggled .menu {
  display: block;
}

.e-service-wrapper {
  .menu__item {
    font-family: $navigation-e-service-family;
  }
}