.menu-name-main-menu,
[class*="menu-name-menu-main-menu"] {
  @media screen and (max-width: $desktop-narrow - $max-width-deduction) {
    .toggler {
      //padding-top: .475rem;
      color: transparent;
      font-size: 0;
      //text-align: center;

      &::before {
        @include fa('\f0c9', 1.5rem, 1, false);
        color: $white;
        font-style: normal;
      }
    }
  }
}
