/*******************************************************************************
 * driveturku-default.layout.scss
 *
 * Layout built with Singularity.
 ******************************************************************************/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.l-main-wrapper {
  background: url("../../../images/bg_pattern.png") repeat 0 0 #fff;
  clear: both;
  overflow: visible;
}

.l-before-content,
.l-after-content {
  background: none 0 0 #B5B5B5;
}

.l-main {
  background-color: #fff;
}
.l-main:after {
  content: "";
  display: table;
  clear: both;
}

.l-region,
.l-content {
  margin: 0 16px;
}
@media (min-width: 769px) {
  .l-region,
  .l-content {
    margin: 0;
  }
}

.l-content .l-region--before-content {
  margin: 0;
}

@media (min-width: 769px) {
  .l-main,
  .l-footer .l-region {
    float: none;
    margin: 0 auto;
    max-width: 1320px;
  }
}

@media (min-width: 769px) {
  .l-region--sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 16px;
  }
}
@media (min-width: 946px) {
  .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 16px;
  }
}

@media (min-width: 769px) {
  .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-right: 16px;
  }
}

@media (min-width: 769px) {
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 16px;
  }
}

@media (min-width: 769px) {
  .l-page.has-one-sidebar.has-sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 16px 0 0;
  }
}
@media (min-width: 946px) {
  .l-page.has-one-sidebar.has-sidebar-first .l-content {
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 16px 0 0;
  }
}
@media (min-width: 769px) {
  .l-page.has-one-sidebar.has-sidebar-second .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding: 0 0 0 16px;
  }
}
@media (min-width: 769px) {
  .l-page.has-two-sidebars .l-content {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
    padding: 0;
  }
}
@media (min-width: 946px) {
  .l-page.has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    padding: 0;
  }
}

.has-main-image .l-branding,
.has-main-image .l-navigation {
  z-index: 4;
  left: 0;
  position: relative;
  top: 0;
}
@media (min-width: 946px) {
  .has-main-image .l-branding,
  .has-main-image .l-navigation {
    left: auto;
    position: relative;
    top: auto;
  }
}
.has-main-image .l-before-header {
  z-index: 4;
  position: relative;
}
.has-main-image .l-branding {
  z-index: 5;
}
.has-main-image .l-navigation {
  background-color: rgba(0, 55, 94, 0.7);
  padding: 13px 0;
  width: 100%;
}
@media (min-width: 946px) {
  .has-main-image .l-navigation {
    background-color: #fafafa;
    padding: 0;
  }
}
.has-main-image .l-main {
  padding-bottom: 2em;
}
@media (min-width: 769px) {
  .has-main-image .l-main {
    z-index: 3;
    margin-top: 15%;
    position: relative;
  }
}

.l-highlighted {
  background-color: #ececec;
}
