.liftup-box-list__content {
  margin: 0 -1rem;

  @media screen and (min-width: $mobile-landscape-wide) {
    display: flex;
    flex-wrap: wrap;
  }
}

.liftup-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;

  .field--name-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-align: right;
  }

  .field--name-title {
    @include font-size-responsive(1.125rem);
    margin-bottom: .5rem;
    font-weight: bold;

    a {
      color: $link-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $link-color-hover;
      }
    }
  }

  @media screen and (min-width: $mobile-landscape-wide) {
    width: 50%;
  }

  @media screen and (min-width: $tablet-landscape) {
    width: 33.333333%;
  }

  @media screen and (min-width: $container) {
    width: 25%;
  }
}

.liftup-box__inner {
  border: 1px solid $default-color-lighter;
  padding: 1.25rem;
  width: 100%;
}

.liftup-box__header {
  margin-bottom: 1rem;
}
