.flexslider {
  background: $default-color-10;

  li {
    margin-top: 0;

    @media screen and (min-width: $tablet-portrait) {
      position: relative;
    }
  }
}

.flexslider__controls {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  z-index: 5;

  .flex-control-nav {
    display: flex;
    justify-content: center;
    margin: 0 -.25rem;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0 .25rem;
  }

  a {
    border: 1px solid $white;
    border-radius: 50%;
    display: block;
    height: .75rem;
    width: .75rem;
    background: transparent;
    color: transparent;
    font-size: 0;

    &:hover,
    &:focus {
      background: $white;
      cursor: pointer;
    }

    @media screen and (max-width: $tablet-portrait - $max-width-deduction) {
      border-color: $black;

      &:hover,
      &:focus {
        background: $black;
      }
    }
  }

  .flex-active,
  .flex-active:hover,
  .flex-active:focus {
    border-color: $primary-color;
    background: $primary-color;
  }
}

.touchevents .flexslider {
  .flex-control-nav {
    margin: 0 -.5rem;
  }

  li {
    padding: 0 .5rem;
  }

  a {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.flex-caption-wrapper,
.flex-controls {
  @media screen and (min-width: $tablet-portrait) {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 5;
  }
}

.flex-caption-wrapper {
  @media screen and (max-width: $tablet-portrait - $max-width-deduction) {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
  }

  @media screen and (min-width: $tablet-portrait) {
    top: 2rem;
  }
}

.flex-caption,
.flex-caption__title a {
  color: $black;

  @media screen and (min-width: $tablet-portrait) {
    color: $white;
  }
}

.flex-caption {
  padding: 0 1.75rem;
  line-height: normal;

  @media screen and (min-width: $tablet-portrait) {
    width: span(9);
  }

  @media screen and (min-width: $desktop-narrow) {
    width: span(7.5);
  }

  @media screen and (min-width: $container) {
    width: span(6);
  }
}

.flex-caption__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;

  @media screen and (min-width: $tablet-portrait) {
    font-size: 1.75rem;
    //line-height: normal;
  }

  @media screen and (min-width: $desktop-narrow) {
    font-size: 2.25rem;
  }

  @media screen and (min-width: $desktop) {
    font-size: 2.75rem;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.flex-caption__body {
  @include font-size-responsive(1.125rem);

  @media screen and (min-width: $tablet-portrait) and (max-width: 819px) {
    font-size: 1rem;
  }

  @media screen and (min-width: $tablet-portrait) {
    + .flex-caption__read-more {
      margin-top: 1.5rem;
    }
  }

  @media screen and (min-width: $desktop-narrow) {
    font-size: 1.125rem;
  }

  @media screen and (min-width: $container) {
    font-size: 1.25rem;
  }
}
